[2019-09-26 15:17] #1749 closed

[2019-09-26 15:46] sebgl opened #1807 "Operator roles are not used anymore"
Following migration to Kubebuilder v2 we "unplugged" the operator role logic we had.

For example, the license controller used to be bound to the "global" operator only:
https://github.com/elastic/cloud-on-k8s/blob/0.9/operators/pkg/controller/add_license.go

[2019-09-26 15:58] racevedoo commented on #1708
@charith-elastic just opened a PR (#1808) for the `pkg/runtime/log` part. Another will follow for the zap refactor you mentioned.

[2019-09-26 17:25] #1807 closed

[2019-09-26 18:57] #1379 closed

[2019-09-27 07:19] #1752 closed

[2019-09-27 07:30] sebgl commented on #1784
Hi @aTGuz,

I edited your post to have proper yaml formatting.
It looks like the `podTemplate` section is not at the right place. It should be at the same level as `config` for the first group of nodes, without a `-`:

[code]

[2019-09-27 07:30] sebgl commented on #1784
Closing the issue, please reopen if needed @aTGuz.

[2019-09-27 07:30] #1784 closed

[2019-09-27 08:26] charith-elastic opened #1811 "Review Elasticsearch internal reconciliation loop"
The [internal reconciliation loop](https://github.com/elastic/cloud-on-k8s/blob/a93f475cb13c56b1d8d2fe3dbc712057ec91c193/pkg/controller/elasticsearch/elasticsearch_controller.go#L231) has non-obvious side effects (events being queued into the state from code deep down in the tree) and wraps errors -- which makes it difficult to identify some error conditions that should be reported as events to th

[2019-09-27 08:30] charith-elastic commented on #1478
#1578 covers most of the commonly encountered errors. There is some additional work to be done to surface certain (rare) errors. I have created #1811 to track those changes.

[2019-09-27 08:30] #1478 closed

[2019-09-27 08:33] charith-elastic commented on #1664
Fixed by #1764

[2019-09-27 08:33] #1664 closed

[2019-09-27 08:59] sebgl commented on #1454
https://github.com/elastic/cloud-on-k8s/pull/1810 applies the default 2Gi memory limit for Elasticsearch.

**However**, since we don't apply any CPU requirements, the pod still ends up in QoS Burstable. Which means it will be [evicted before Pods with QoS Guaranteed](https://github.com/kubernetes/kubernetes/blob/32dc42ed34eb5ca97bd8fa4544d9a91d6b05a310/pkg/kubelet/preemption/preemption.go#L120).
P

[2019-09-27 09:23] barkbay commented on #1796
`GET /_stats/docs?level=shards` does not return the name of the nodes, it means that it would require an other API call to get the mapping between the node ids and the name of the nodes:

[code]

Here is a full sample output: https://gist.github.com/barkbay/92bad4568940857dfed607f11e042b2a

[2019-09-27 09:57] david-kow opened #1814 "Emphasise in docs operators ability to perform ES upgrade"
I don't think we explicitly mention that ES version can be changed in the spec and the operator will safely perform the upgrade in our docs. Relevant question from the community: https://discuss.elastic.co/t/upgrading-elasticsearch-version-on-eck/201222

[2019-09-27 11:59] david-kow opened #1817 "Unit/integration tests results are not visible if test fails"
E.g.: https://devops-ci.elastic.co/blue/organizations/jenkins/cloud-on-k8s-pr/detail/cloud-on-k8s-pr/1482/pipeline

[code]

[2019-09-27 12:10] david-kow commented on #1292
I'd consider this issue to cover 1. and 2.
3. should be tracked separately when we decide to do it.

[2019-09-27 13:06] #1678 closed

[2019-09-27 14:47] sebgl commented on #1325
Let's reopen if it happens again.

[2019-09-27 14:51] sebgl commented on #1799
Should we ignore any existing check (maxUnavailable, green health, etc.) when doing a rolling upgrade of a cluster that has not been bootstrapped yet (bootstrap annotation not set)?
There's a small race condition where we'd do a rolling upgrade if you apply spec changes before we detect the cluster is alive, but that's probably ok since it would still be considered as a fresh new cluster?

[2019-09-27 18:54] sarjeet2013 opened #1819 "Use a command for Kibana readiness probe due to security constraints with httpGet"
## Proposal

**Use case. Why is this important?**

It is required for reliably checking for kibana pod containers readiness.

The current readiness seems very basic and not sure when it is expect to get the actual readiness.

Current readiness:
[code]

The above readiness probe just probes on the /login but may hide few other problems with the kibana container readiness itself.

I feel it could be

[2019-09-27 19:11] sarjeet2013 commented on #1819
I just tried to see if this can be similar to elasticsearch container readiness and it seems to work fine.

curl -o /dev/null -w "%{http_code}" --max-time 3 -XGET -s -k -u default-kibana-1node-kibana-user:zx42xz5fwzqxdw5vtr8hzf7p  https://127.0.0.1:5601/login
200

This works as expected, but require the user and password which I retrieved from `<cr>-kibana-user` secret. I am not sure if this secre

[2019-09-28 02:42] aTGuz commented on #1784
Greetings @sebgl !!

To many thanks you for your time, this solved my problem!

Good luck and happy live!

[2019-09-30 06:24] sebgl commented on #1819
@sarjeet2013 I'm curious about errors cases you may have found that an authenticated curl against `/login` returned but not an unauthenticated one?

[2019-09-30 06:30] barkbay commented on #1799
Why not allow for restarts as long as the node type is not changed ? It is just a new predicate to protect node change type when cluster can't be reached.
My fear is that user may encounter a situations where the cluster is already bootstrapped but can't be reached (e.g. heap is exhausted, GC is very busy preventing any API calls on the nodes.., Pods should be restarted to set some new memory sett

[2019-09-30 06:34] #1454 closed

[2019-09-30 06:36] sebgl commented on #1799
That would be great indeed. But how can we detect this case vs. the "standard" one (where we should check that cluster is green in-between restarting nodes)?

[2019-09-30 08:25] barkbay commented on #1796
I think I will stick with `cat/shards` and add a dirty hack to retrieve the name of the node in the `node` field. But I think we should discuss with the Elasticsearch team to have a stable and more suitable API in the future.

I'm not sure we want to check if the node is serving a scroll from an "open but not assigned" shard, it sounds like an optimization we can discuss later.

wdyt ?

[2019-09-30 09:29] sebgl commented on #1796
+1 with doing whatever's simpler now, and optimise later if need to.

Parsing the output of `_cat/shards` sounds like the simpler solution now.
Parsing other/multiple APIs, and handling open scrolls sound like 2 optimisations for later. Which are just "internal" optimization (no impact on the users, ie. easy to change).

[2019-09-30 09:35] sebgl commented on #1799
So far, what we consider as `cluster unreachable` is when no Pod endpoint is registered in the Service object. Which means, basically, all Pods are not `Ready`. Sounds pretty simple to handle as you suggested (-> just roll the upgrade).

Cases where the cluster is technically reachable (some Pods respond to their local readiness check), but the Elasticsearch API does not respond (eg. GC busy, mast

[2019-09-30 09:46] pebrc commented on #1796
I agree. Let's use `_cat/shards` for now and as @sebgl said, everything else is a API-neutral optimisation we can do later.

[2019-09-30 09:51] barkbay commented on #1799
👍 , let's solve the first situation and maybe open an other issue to discuss what to do if the API does not respond while some Pods are ready.

[2019-09-30 14:31] saurabh24292 opened #1821 "Pods get OOM killed"
## Proposal

**Use case. Why is this important?**
I am trying to set up a production grade ES cluster using elastic cloud on k8s. I am using a GKE cluster with 10 nodes - each node having 8vCPU and 30 GB RAM. Storage is 500 GB. Even when using a heap of 10 GB and a CPU request of 4vCPUS, some of my pods are getting oom killed.

## Bug Report
**What did you do?**
Followed the official guide

**What

[2019-09-30 15:27] anyasabo commented on #1821
Hello, it looks like you have the heap == the memory limit for the data nodes (and for the others):
[code]

 From the Elasticsearch docs, it should be no more than half the memory limit:
https://www.elastic.co/guide/en/elasticsearch/reference/current/heap-size.html

If you adjust either it should give the ES container the room it needs. I see you are already setting `NSS_SDB_USE_CACHE` so that's a

[2019-09-30 15:58] thbkrkr opened #1822 "CRD podTemplate schema forces to declare an empty spec.containers"
By working to bump the CRD version (#1782 ), TestSmoke fails with: `spec.podTemplate.spec.containers in body must be of type array: "null"`.

With the new controller-gen that comes with kubebuilder 2, the `podTemplate` object schema is fully inlined in our CRDs.

As there must be at least one container in a Pod, the `Containers []Container 'json:"containers"'` does not have the `omitempty` tag.

S

[2019-09-30 16:22] thbkrkr opened #1823 "CRD multi-versions support with schema changes"
The CustomResourceDefinition API supports [multiple versions](https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definition-versioning/#specify-multiple-versions) and schema validation only from k8s 1.13 (apiextensions.k8s.io/v1).

Prior to 1.13 (apiextensions.k8s.io/v1beta1), there is no way to declare several schemas. The latest version of controller-gen brin

[2019-09-30 17:39] saurabh24292 commented on #1821
I figured out that I was using wrong heap size considering my memory request limit. I have updated it and the cluster is running fine. I have created a clusterIP service:
[code]
But when I ssh into a node of the Kubernetes cluster (in another node pool which is not running the ES cluster) and I try curl commands, I get no reply from server.
curl: (52) Empty reply from server

Any idea what is happ

[2019-09-30 17:57] pebrc commented on #1821
I think you need to use `https` at least.
Have a look at https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-accessing-elastic-services.html for a more indepth description.

This appears to be a user question, and we'd like to direct these kinds of things to the [ECK forum](https://discuss.elastic.co/eck). If you can stop by there, we'd appreciate it. This allows us to use GitHub for verified

[2019-09-30 17:57] #1821 closed

[2019-10-01 00:42] sarjeet2013 opened #1824 "drain node doesn't work with elasticsearch poddisruptionbudget policy"
## Proposal

**Use case. Why is this important?**

For node maintenance and upgrades, `kubectl drain` command is helpful to move all workloads to other nodes.

## Bug Report
**What did you do?**

kubectl drain <node>

**What did you expect to see?**

drain node works fine and able to reschedule all pods from that node to other nodes

**What did you see instead? Under which circumstances?**

The dr

[2019-10-01 05:50] david-kow opened #1825 "Improve e2e test checks ordering"
During `MutationTestSteps` we run the below right after cluster is updated:

via CheckK8sTestSteps:
[code]

via CheckStackTestSteps:
[code]

There is a race condition between this code and the operator. This causes these checks to run against the old (unmutated) cluster which is not intended.

One of the solutions could be running `e.CheckESNodesTopology(b.Elasticsearch)` first, as it seems it can

[2019-10-01 07:23] #1192 closed

[2019-10-01 07:39] artemnikitin commented on #1817
This should be fixed after https://github.com/elastic/cloud-on-k8s/pull/1816.

[2019-10-01 07:40] artemnikitin commented on #1817
For example, build from yesterday https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-pr/1509/

[2019-10-01 07:54] pebrc commented on #1824
Looking at your PDB it seems your are running a recent master build? Is that correct?

Can you give us some more information about the topology and state of your Elasticsearch cluster?
How many master nodes?
How many data nodes?
How many ingest nodes?
What does `_cat/health` return?

[2019-10-01 10:21] charith-elastic commented on #1468
@philrhinehart Can you provide more information about the workload? Is it just one Elasticsearch cluster of 10 nodes managed by the operator? What is the Kubernetes cluster utilization? If it is possible to do so without revealing any sensitive information, can you provide the manifest for Elasticsearch as well?

[2019-10-01 11:26] racevedoo commented on #1708
@charith-elastic Remaining PR opened! #1828

[2019-10-01 11:39] racevedoo commented on #1783
@thbkrkr can I get this? It seems pretty straightforward

[2019-10-01 11:51] racevedoo commented on #1783
Btw, proposal 3 seems good

[2019-10-01 12:02] racevedoo commented on #1783
Another thing: did you mean `v1alpha1`? I can't find any v1beta1 occurrences.

[2019-10-01 12:20] sebgl commented on #1299
I'm closing this now. Most issues have been solved already. https://github.com/elastic/cloud-on-k8s/issues/1292 is in progress and will be solved pretty soon.

The only remaining issue is https://github.com/elastic/cloud-on-k8s/issues/1290, to support cluster mutations in a grow-and-shrink fashion (instead of rolling upgrades). This is partially implemented when adding/removing StatefulSets, but n

[2019-10-01 12:20] #1299 closed

[2019-10-01 12:51] charith-elastic commented on #1708
Fixed by #1808 and #1828
Thanks @racevedoo

[2019-10-01 12:51] #1708 closed

[2019-10-01 13:48] anyasabo commented on #1712
My vote: the example has `allow_mmap:false` with a link to a more detailed guide on the trade offs and how to set `max_map_count` in a privileged init container.

[2019-10-01 13:48] sebgl commented on #1712
My vote:
Option 1 looks simpler, especially if we document it as in @pebrc screenshot, and provide a dedicated documentation page.
Option 2 looks way more verbose and advanced, but should definitely be documented in that dedicated doc page.

[2019-10-01 14:56] anyasabo opened #1831 "Remove `Kind()` funcs"
Related to https://github.com/elastic/cloud-on-k8s/issues/338

Since we upgraded to kubebuilder v2 I think we can remove the extra `Kind` funcs on our CR types that we added to work around the behavior.

Upstream issue: https://github.com/kubernetes-sigs/controller-runtime/issues/406

[2019-10-01 15:30] sebgl opened #1833 "Change current version to 1.0.0-beta1"
We currently have `0.10.0` set in both:
* `VERSION` (at the root)
* `annotation.go` from https://github.com/elastic/cloud-on-k8s/pull/1782/files#diff-345aec6db30c5f64d07972e53d4804efR20

Let's wait for #1782 then fix both references.

[2019-10-01 15:56] racevedoo commented on #1765
Hi @anyasabo, maybe copying is done by some other projects as well. I found a reference on https://godoc.org/github.com/kubernetes-incubator/external-storage/local-volume/provisioner/pkg/common saying exactly what you described here

[2019-10-01 16:07] ejsmith opened #1835 "TLS best practices?"
Sorry for asking a question here. Not sure where else to ask.

From digging through the code it seems like you are creating a self-signed certificate and automatically renewing it. That is great and seems like I should probably just leave that alone instead of trying to create my own CA and certificate and then having to manage the process of renewing it.

My question is, how would I go about trus

[2019-10-01 16:11] anyasabo commented on #1835
Hey @ejsmith , this is documented here if you didn't see it:
https://github.com/elastic/cloud-on-k8s/blob/master/docs/accessing-services.asciidoc#tls-certificates

But if that doesn't answer your question, or if you have suggestions on how to lay it out to make it more discoverable please let us know

[2019-10-01 16:18] anyasabo commented on #1831
Would definitely welcome a PR @racevedoo  :)

[2019-10-01 17:16] sarjeet2013 commented on #1824
@pebrc

1. Yes, I built an image from master branch recently.
2. I am using this as testing template, so all 4 replicas are part of same nodeGroup and are master.
[code]
3. same as above
4. same as above
5. You mean `_cluster/health`? Here is the curl output for cluster health:
[code]

Please let me know if you need any additional info?

[2019-10-01 18:13] ejsmith commented on #1835
Yes, that is very helpful. Not really sure how I missed that. Sorry for wasting your time.

[2019-10-01 18:13] #1835 closed

[2019-10-01 18:39] sarjeet2013 commented on #1819
There are 2 reasons for this issue.

1. Currently, our k8s env blocks traffic from host to container (due to security reasons) which blocks the readinessProbe with httpGet.

2. Regarding authenticated vs unauthenticated, AFAICT both returns 200 fine.

➜  curl -o /dev/null -w "%{http_code}" --max-time 3 -XGET -s -k -u default-kibana-1node-kibana-user:xxxx https://x.x.x.x:5601/login
200%

[2019-10-01 18:44] racevedoo commented on #1831
PR opened #1837

[2019-10-01 19:33] anyasabo opened #1838 "Revisit config struct"
We should verify we need `pkg/apis/common/v1alpha1/config.Config`. It references that it is a workaround for this issue:
https://github.com/kubernetes-sigs/kubebuilder/issues/528
but according to that issue and
https://github.com/kubernetes-sigs/controller-tools/pull/126
https://github.com/kubernetes-sigs/controller-tools/issues/294

There are now either resolutions or workarounds, so we should re

[2019-10-01 20:02] #1140 closed

[2019-10-02 06:58] sebgl commented on #1824
The way the default PDB works is the following:

* If your cluster is green (from `/_cluster/health`), allow one node (only one) to be removed. Which will probably turn your cluster to yellow.
* Else, don't allow any node to be disrupted. Otherwise, there's a chance we loose some shard availability, and the cluster will become either red or unresponsive.

If you don't care much about cluster unava

[2019-10-02 07:22] charith-elastic opened #1841 "Review Certificate Reconciliation Logic"
As noted in #1832, the `certificates.Reconcile` method has a large footprint in terms of memory usage. This is probably due to parsing of certificates over and over. We should review the logic to see if we can avoid some of this work.

Alloc Space:
![image](https://user-images.githubusercontent.com/52399125/66025146-a5b51180-e4ed-11e9-8e8c-57a23efd2bf9.png)

[2019-10-02 08:19] #1796 closed

[2019-10-02 09:02] #1799 closed

[2019-10-02 09:02] david-kow commented on #1817
Closing as it's fixed.

[2019-10-02 09:02] #1817 closed

[2019-10-02 09:20] sebgl commented on #1325
Looks like it's still flaky: https://devops-ci.elastic.co/job/cloud-on-k8s-e2e-tests/393/console

[2019-10-02 09:32] barkbay opened #1847 "API failure prevents cluster upgrade"
This is a follow-up of #1827

[code]

With the manifest above [ES is considered as "reachable"](https://github.com/elastic/cloud-on-k8s/blob/ca2c732bd1ca9503a203b3902badafeb0a8aed5b/pkg/controller/elasticsearch/services/services.go#L65)  (i.e.`esReachable` is `true`) because there is at least one node in the service.
The problem is that [the subsequent call to the API fail](https://github.com/elas

[2019-10-02 09:42] sebgl commented on #1847
Copy-pasting my comment from https://github.com/elastic/cloud-on-k8s/pull/1827#issuecomment-537027939:

For example if all Pods of StatefulSet A are Pending or bootlooping, then force-upgrade them (bypassing any ES request or safety check). Even though Pods from StatefulSet B may be running fine.

[2019-10-02 10:36] sebgl commented on #1325
From the logs:

[code]

I think what happened is the second node failed to start, due to GCP persistent volumes errors. So we never rolled the last Pod since we're stuck with this one.
The reported E2E error is misleading, since it says at least one Pod does not have the correct keystore values. That's expected since the rolling upgrade is stuck!

I'll change things around to make the error return

[2019-10-02 10:59] #1488 closed

[2019-10-02 12:22] #1833 closed

[2019-10-02 12:22] #1325 closed

[2019-10-02 13:35] sebgl commented on #1758
I'll start working on it.

[2019-10-02 13:53] pebrc commented on #1188
closed via #1723

[2019-10-02 13:53] #1188 closed

[2019-10-02 14:59] sebgl opened #1851 "Make k8s nodes vs. Elasticsearch explicit in docs"
Everytime we use "nodes" we should probably make sure we explicitly refer to "Elasticsearch nodes" or "Kubernetes nodes", to avoid confusion.

[2019-10-02 15:01] #1763 closed

[2019-10-02 15:14] thbkrkr opened #1853 "cloud-on-k8s-stack job is failing"
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-stack/ is red for too long.

During the last execution ([#42](https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-stack/42/)), TestSmoke fails for all versions:

[code]

[2019-10-02 15:18] thbkrkr opened #1854 "cloud-on-k8s-e2e-tests-aks is failing"
During the last execution ([#15](https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-e2e-tests-aks/15/)), TestSmoke fails:

[code]

[2019-10-02 15:20] #1292 closed

[2019-10-02 15:23] thbkrkr opened #1855 "Automate the test of the samples"
For every release, we check manually that our [samples](https://github.com/elastic/cloud-on-k8s/tree/master/config/samples) are still working well.
Two samples (kibana_es.yaml and apm_es_kibana.yaml) are used in the E2E tests but not all.
It would be nice to automate this.

[2019-10-02 16:04] pebrc opened #1858 "Make ECK requirements more explicit in the documentation"
We mention that you have to run k8s > 1.11 in the quickstart guide, but maybe it would be helpful to document that in a more prominent place (Overview, maybe or dedicated page) basically replicating what we have in the README for this repo at the moment (supported stack versions + supported k8s versions)

[2019-10-02 16:09] agup006 commented on #1858
@pebrc, ++ to docs that go over this, for more detailed view we can add to the following page: https://www.elastic.co/support/matrix

[2019-10-02 17:07] sarjeet2013 commented on #1824
@sebgl Thanks for the info. Sure, I'll try with disabling pdb (for testing) to see if it works?

Regarding _cluster/health, if cluster state is not green, it will never allow it to delete any pods or even worse, the cluster can't be upgraded as well?

[2019-10-02 20:10] racevedoo commented on #1855
@thbkrkr can you provide more details? do you mean refactoring the tests to check that all samples are working?

[2019-10-03 08:01] #1712 closed

[2019-10-03 10:34] artemnikitin opened #1866 "Why release job is using public GitHub API?"
During release job we need to wait for GitHub public API limits
[code]
Need to check if it's possible to fix it.

[2019-10-03 14:42] charith-elastic opened #1871 "Warn users when they attempt to change persistent disk size"
As the validation webhook is currently non-operational, any attempts by the users to change the size of a persistent volume claim will fail silently. We should find a way to make this failure visible to the users.

**Way to reproduce:**

Create a cluster

[code]

Update the volume claim template

[code]

[2019-10-03 15:12] #1831 closed

[2019-10-03 18:52] sarjeet2013 opened #1872 "Kibana pods crashing with FATAL Error"
## Proposal

**Use case. Why is this important?**
Kibana deployment is not stable and hence, not usable.

## Bug Report
**What did you do?**

**What did you expect to see?**
Kibana pods running with healthy status.

**What did you see instead? Under which circumstances?**
Kibana pod is crashing with FATAL Error. See the logs below.

* Logs:
[code]

There is already a ES 2 nodeGroups running fine w

[2019-10-04 06:58] sebgl commented on #1819
Indeed, that sounds like a good reason.

As a workaround, you can set your own readiness probe, by overriding the podTemplate section of the Kibana resource.

[2019-10-04 07:01] sebgl commented on #1824
Yes, because that would be dangerous for data integrity and availability, it's hard for ECK to make such decisions.

I guess at some point we could introduce a setting in the Elasticsearch resource that allows a forced upgrade to go through, at your own risks.

However, we are working on making sure we move on with rolling upgrades if [all nodes are down](https://github.com/elastic/cloud-on-k8s/pu

[2019-10-04 07:01] artemnikitin opened #1873 "Use the same job for release and nightly builds"
Currently we are using 2 different jobs for release and nightly builds.
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-nightly/
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-release/

As result we may have issues related only to release job because it's triggered rarely. To fix that it make sense to have 1 job for both release and nightly builds

[2019-10-04 07:03] sebgl commented on #1871
Related: [implementation in the (disabled) webhook](https://github.com/elastic/cloud-on-k8s/pull/1517).

[2019-10-04 07:07] sebgl commented on #1872
Hey @sarjeet2013, could you copy the yaml spec of your Kibana resource?
Is it constantly failing? Or does it just happen randomly once in a while?

[2019-10-04 07:59] barkbay commented on #1853
My bad, didn't want to close this one.

[2019-10-04 08:03] barkbay opened #1875 "Kibana: allow the user to provide its own ES connection settings"
It is not possible for the user to provide its own ES connection settings and to connect to an external Elasticsearch cluster.

It is also not consistent with what can be done with the APM Server.

[2019-10-04 08:15] nkvoll opened #1876 "Upload and document usage of different all-in-one flavors"
https://github.com/elastic/cloud-on-k8s/pull/1852 introduced the building of more than one `all-in-one` bundles. This was done to best support different K8s versions (e.g 1.14 and later can have more apiserver-side validation on custom resource definitions with multiple versions).

This means that for K8s <= 1.13, users will have to install the `trivial-versions` flavor.

We need to:

- [x] Upload

[2019-10-04 08:38] thbkrkr commented on #1822
Option 4) does not work as expected.
The operator fails at runtime:

[code]

[2019-10-04 09:12] saurabh24292 opened #1877 "VolumeClaimTemplate memory request getting overridden with default value"
## Proposal

**Use case. Why is this important?**
Defaukt setting overriding the user setting leads to cluster breakdown

## Bug Report
**What did you do?**
Followed the guide in this repo for setting PVC memory request for pods

**What did you expect to see?**
pods having specified storage PVC claims

**What did you see instead? Under which circumstances?**
pods having default storage size

**Env

[2019-10-04 09:15] artemnikitin commented on #1876
@nkvoll Am I correctly understand, that all CRD flavors will be generated during `make generate` and from CI we simply need to upload them? Or we also need to generate missing flavors too?

[2019-10-04 09:34] sebgl commented on #1877
Hi @saurabh24292,
The `VolumeClaimTemplates` section setting is per group of node. In your example it is set at a higher level. You have to move it at the same level as `config` and `podTemplate` in each individual group of nodes. You may want to specialize the storage requirements for each group (eg. less storage for dedicated master nodes).

[2019-10-04 09:34] #1877 closed

[2019-10-04 09:50] barkbay opened #1878 ""1.0.0-beta1-bc6": invalid major format"
I got this issue while testing `1.0.0-beta1-bc6` on Openshift 3:

[code]

Here is the annotation:
[code]

[2019-10-04 09:56] barkbay commented on #1878
Environment is Openshift 3, I used this all in one: https://download.elastic.co/downloads/eck/1.0.0-beta1-bc6/all-in-one.yaml

Not sure what I did wrong...

[2019-10-04 10:42] #1878 closed

[2019-10-04 11:06] saurabh24292 commented on #1877
Extremely sorry. I just realized that I messed up the format while posting the question. Really thanks for the reply. Indeed I have setup the VolumeClaimTemplates at a higher level. I will incorporate your suggestions and get back.

[2019-10-04 11:52] sebgl commented on #1877
No worries @saurabh24292! It happens to me as well all the time! We'll work on adding the proper validations to the resource.

[2019-10-04 12:44] david-kow opened #1881 "Standarize communicating about update strategy limits being hit"
When upscaling we emit:
[code]
When downscaling we emit:
[code]

It's different level, different structure and different level of details given. I feel like they should be more uniform and, also, emitted as events.

[2019-10-04 12:48] david-kow opened #1882 "Add best effort validation of spec"
With the version change and renames done (nodes->nodeSets, nodeCount->count) we should help users if they apply old specs by accident. We can do that by adding a validation that specifically checks for the issues mentioned and hints to user via an event to check version and naming used.

[2019-10-04 13:06] barkbay opened #1884 "Openshift: Statefulset can't set owner on a PVC"
Since #1736 a owner is set in the volume claim template:

[code]

The problem is that the statefulset-controller (?) does not seems to have the permissions to do that on Openshift:

[code]

[2019-10-04 13:11] #1871 closed

[2019-10-04 13:39] sebgl commented on #1884
I'm wondering if we could still set the owner reference in the PVC, but set `ownerReference.blockOwnerDeletion=false `, which may not require the StatefulSet controller to set a finalizer on anything?

[2019-10-04 14:40] charith-elastic commented on #1141
I think we have covered all the major changes we wanted to go into v1.0.0-beta1 so this issue can be closed. Please re-open if I have missed something.

[2019-10-04 14:40] #1141 closed

[2019-10-04 16:03] charith-elastic commented on #1468
I am closing this issue for now since our internal testing couldn't reproduce the problem. If anybody else experiences the same problem, please re-open this issue and provide details about the environment.

[2019-10-04 18:16] sarjeet2013 commented on #1819
@sebgl Yes. Using this workaround already :)

[code]

Please let me know if the above suggestion of using command is the (preferred) workable solution. I am happy to work on it and make a PR for it.

[2019-10-04 18:23] sarjeet2013 commented on #1872
@sebgl This was consistently failing with same FATAL Error. I had to remove spec completely and redeployed it again, and didn't see this.

I'll update once this happen again, but wanted to know what the FATAL error was about, as it was same spec which was working earlier, and working now but happen to run into this on that specific deployment. I'll keep an eye on it if it happens again.

[2019-10-04 18:26] sarjeet2013 commented on #1824
@sebgl  Sure. I'll keep eye on other issue. For now, I have modified the test topology to 2 nodeSets, master with count=3 and ingest-data with count=2.

I'll try couple of failover cases soon and will update my findings.

[2019-10-04 18:27] sarjeet2013 commented on #1743
@barkbay I haven't seen this error lately. I'll keep an eye if it happens again.

[2019-10-04 18:35] sarjeet2013 commented on #1749
@thbkrkr  Even the `readyPods` may be misleading if there are multiple nodeSets and each may have different pods (counts) to it. The cumulative `readyPods` may mislead that there are enough pods shown as ready but a specific nodeSet may have all pods in bad state or stuck in scheduling. It could lead to a failover disaster case.

Also, I would think it would be appropriate to explore health with t

[2019-10-04 18:40] saurabh24292 commented on #1877
Tried changing that. But then my elasticsearch pods are not getting created.
[code]

Here is how the yaml segment looks now:
[code]

[code]

[2019-10-04 18:42] saurabh24292 commented on #1877
Such segment is described for each node groups - master (3 master nodes), coordinating (3 coordinating nodes), data (4 data nodes). The volumeClaim request is 300Gi for data nodes, 50 Gi for coordinating nodes and 50 Gi for master nodes. My cluster has 10 nodes with each node having 600 Gi storage

[2019-10-04 22:01] anyasabo commented on #1877
@saurabh24292 can you share the operator logs as they relate to that resource? if theyre long feel free to share a link to a gist

[2019-10-05 16:54] saurabh24292 opened #1889 "error: unable to recognize "kibana.yaml": no matches for kind "Kibana" in version "kibana.k8s.elastic.co/v1beta1""
## Proposal

**Use case. Why is this important?**

## Bug Report
**What did you do?**
Have a working elasticsearch cluster. Tried to deploy Kibana as per the official git repo.

**What did you expect to see?**
Kibana working fine

**What did you see instead? Under which circumstances?**
kind "Kibana" not being recognized

**Environment**
GKE

* ECK version:

	0.9
* Kubernetes information:

	insert

[2019-10-05 16:56] saurabh24292 commented on #1889
[code]

[code]

[2019-10-06 15:53] alaudazzi commented on #1858
@pebrc do you refer to https://github.com/elastic/cloud-on-k8s/blob/master/README.md?

[2019-10-06 15:58] alaudazzi commented on #1876
@nkvoll  which documentation pages are impacted by this issue?

[2019-10-06 16:06] alaudazzi opened #1890 "Updated the cloud-on-k8s README.md"
Update the repo [README](https://github.com/elastic/cloud-on-k8s/blob/master/README.md) for BETA release.

[2019-10-07 08:06] artemnikitin opened #1892 "Unified e2e test job"
Instead of having several jobs for e2e tests (3 at the moment and potentially more) we can have just 1 e2e test job which can run all type of tests.

Job should:
1) Run test against both operator built from master and from externally provided image.
2) Run tests on all supported cloud K8s services

[2019-10-07 09:22] #1882 closed

[2019-10-07 11:00] barkbay commented on #1847
I still have the issue on master:

[code]

[code]

[2019-10-07 11:37] barkbay opened #1898 "Deployer should silently fail if disk is not found"
I got this error:
[code]

IIUC the disk has been deleted by someone else ?

Related to #1722

[2019-10-07 12:35] barkbay opened #1899 "Kibana CRD is not created with the all in one manifest"
Kibana CRD is not created:

[code]

This is because some `---` are missing between the Kibana CRD and the next element (the `elastic-operator` cluster role)

[2019-10-07 13:28] barkbay opened #1902 "TestNameValidation is flaky"
[code]

[code]

[code]

This is because there is no `count` in the spec

[2019-10-07 13:32] sebgl commented on #1847
Indeed you're right @barkbay.
Copy-paste from https://github.com/elastic/cloud-on-k8s/pull/1888#issuecomment-539011907:

The current code only fixes cases where:

* es is not reachable (entire cluster broken)
* es appears and is reachable (half the cluster may be broken but ES still responds to requests)

but not:

* es appears but is not reachable (entire cluster broken even though some nodes are

[2019-10-07 13:41] barkbay commented on #1902
If `count` is set to 1 we have this error:

[code]

[2019-10-07 14:12] #1899 closed

[2019-10-07 14:43] thbkrkr commented on #1876
Regarding "Point users to the correct flavor for their K8s cluster version.", all the pages that reference the `all-in-one.yaml`. For the moment, I see:
- https://www.elastic.co/downloads/elastic-cloud-on-kubernetes
- https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html

Regarding "Document what the flavors are.", we need to choose if we create a new page or update an existing

[2019-10-07 15:20] #1761 closed

[2019-10-07 21:32] sichvoge opened #1907 "What's the tenancy model"
Trying to understand the tenancy model the Operands support. Do I need to deploy a "stack" (ES and Kibana) per tenant (one or more namespaces) or is there a way to deploy a single instance of both and setup it so that one tenant can only see and interact with logs they have access to inside Kibana and through the ES API?

[2019-10-07 22:10] anyasabo commented on #1907
Hi @sichvoge , you may have more luck on the Elasticsearch + Kibana discuss forums as this is more related to that than the operator that is used to spin up ES + Kibana. But that said, this article describes the RBAC functionality in Kibana (with links into the ES docs as well) that should help you out:
https://www.elastic.co/guide/en/kibana/current/development-security-rbac.html

[2019-10-07 22:36] racevedoo commented on #1838
@anyasabo is anyone working on this? I'd like to work on it. Basically we should remove the `Config` struct in favor of something like `json.RawMessage`, as mentioned in the issues, right?

[2019-10-08 00:22] jordansissel commented on #1690
Following up with some news and a workaround.

After some additional diccussion with Google Support and doing some science:

* RAID is not currently easy to do on GKE, but it is possible.
* RAID0 is between 1.5-3x faster than single local SSDs (tested: 1 thread = 1.4x faster, 8 threads = 2.9x faster; 4 local disks)
* We can hack together RAID0 using a DaemonSet to ensure all nodes are correctly co

[2019-10-08 02:31] agup006 commented on #1579
I'm ++ to setting this for the user in the interim. Without this a user might expect minutes for a configuration change and end up taking hours / days because a node took 2 minutes instead of 1 minute.

I have a feeling this setting might be too low on the Elasticsearch side, and would be good to discuss if we can change the default there. Adding @eskibars @bleskes for consideration

[2019-10-08 02:39] jordansissel commented on #1579
For some context, with the default setting, we had at least one upgrade
which should have been a routine upgrade but took 3-4 days as data was
replicated/recovered. For small clusters this isn’t an issue, but this
cluster was ~20 data nodes and about 40tb of storage.

On Mon, Oct 7, 2019 at 7:31 PM Anurag Gupta <notifications@github.com>
wrote:

[2019-10-08 04:37] jasonquick opened #1910 "Zombie Kibana pods after trying to remove Kibana service"
## Bug Report

**What did you do?**

Attempting to delete a few-hours old Kibana deployment using `kubectl delete Kibana example`

**What did you expect to see?**

The pods terminate and disappear.

**What did you see instead? Under which circumstances?**

An eternal `kibana.kibana.k8s.elastic.co "example" deleted` message.

The operator now seems to be in a zombie mode. I can use `delete -f kiban

[2019-10-08 04:52] jasonquick commented on #1910
I have gotten rid of the pods by scaling the deployment to 0. Deleting the deployment did no good as the Kibana scheduler simply replaced it. I'm still stuck with the Kibana service over which I have no control.

[2019-10-08 05:13] jasonquick commented on #1910
I resolved the issue myself but will leave this here in case someone else runs in to a similar problem.

[2019-10-08 05:13] #1910 closed

[2019-10-08 07:23] #1540 closed

[2019-10-08 07:55] barkbay commented on #1722
I can confirm that it is not enough:
1. A `Pod` is using a disk though a `PVC`
2. When the `Pod` is deleted the disk is no longer attached to a compute instance:
[code]
3. At this point it might happen that the underlying disk is deleted by an other instance of the deployer because it is considered as orphaned
4. When the `Pod` comes back the disk can't be attached and the following error is raise

[2019-10-08 08:06] thbkrkr commented on #1902
`TestNameValidation` is still failing. The root cause seems to be:
```26s         Warning   FailedCreate              StatefulSet             create Pod es-naming-4kqh-xxxxxxxxxxxxxxxxxxxxx-es-masterdata-0 in StatefulSet es-naming-4kqh-xxxxxxxxxxxxxxxxxxxxx-es-masterdata failed error: pods "es-naming-4kqh-xxxxxxxxxxxxxxxxxxxxx-es-masterdata-0" is forbidden: unable to validate against any pod secur

[2019-10-08 08:24] sebgl opened #1911 "Rename ES pod config hash labels"
in the code we apply the following labels to the ES pod:
- elasticsearch.k8s.elastic.co/config-checksum  -> hash of the version of the merged secure settings secret
- elasticsearch.k8s.elastic.co/config-template-hash  ->  hash of the elasticsearch.yml content

Which seems rather inconsistent.
We could rename to:

- elasticsearch.k8s.elastic.co/secure-settings-hash
- elasticsearch.k8s.elastic.co/co

[2019-10-08 09:08] #1902 closed

[2019-10-08 09:27] david-kow opened #1916 "Pod deletion during forced upgrade should include resource version precondition check"
This will allow for a safer delete pod operation in case of race condition where we could be trying to delete a pod that is no longer Pending.

[2019-10-08 09:28] barkbay commented on #1722
An other thing to consider is that an orphaned disk is not immediately detected with `-users:*`
While I'm doing some tests it takes a few seconds before the disk appears in the list. So the deployer might not be able to detect an orphaned disk for the cluster is currently managing.

[2019-10-08 09:30] sebgl opened #1917 "Make Kibana & APM hash labels more consistent"
With https://github.com/elastic/cloud-on-k8s/pull/1912, we changed the ES hash labels to:
- elasticsearch.k8s.elastic.co/config-hash
- elasticsearch.k8s.elastic.co/secure-settings-hash

Kibana and APM use the following:
- apm.k8s.elastic.co/config-file-checksum
- apm.k8s.elastic.co/es-ca-file-checksum
- kibana.k8s.elastic.co/config-checksum (does take into consideration config + secure settings +

[2019-10-08 09:33] sebgl commented on #1722
I guess this may be the reason we see so many of those in the E2E tests output:

[code]

[2019-10-08 09:50] barkbay commented on #1722
@sebgl yes, I think so

I would be tempted to create clusters with a unique prefix and delete **all**  the disks for which the name contain this prefix, regardless they are orphaned or not.

Problem is that it is really dirty as it would not work for developer clusters _(if cluster name is too long)_  and it is completely dependent on the Google implementation.

@charith-elastic:

Could you share

[2019-10-08 09:52] pebrc commented on #1722
I have seen this error also outside of e2e tests, where the deployer is not involved.

[2019-10-08 09:56] barkbay commented on #1722
As long as the disk is in the same Google project _(and in the same zone ?)_  it could be deleted, wether or not it is involved in an e2e test.

[2019-10-08 10:07] charith-elastic commented on #1722
https://github.com/elastic/cloud-on-k8s/issues/1722#issue-492858722 is the fix I came up with off the top of my head.

This could be one of the factors (especially when two or more E2E tests kick off around the same time). However, some of the past issues I read on that error seem to suggest that it is caused by pods with PVs getting re-scheduled on to different nodes. I think  the root cause is o

[2019-10-08 10:18] #1911 closed

[2019-10-08 10:33] #1758 closed

[2019-10-08 11:40] david-kow opened #1921 "Investigate the safety of forced upgrade"
Right now we have a way to bypass all safety checks the operator has and delete stateful set(s) when any of two conditions are true:
1. all pods within stateful set are pending, or
2. all pods within stateful set are not ready and had a restart before.

I think we should understand some corner cases and their consequences to be sure that this is actually safe to do. Some scenarios to look at when

[2019-10-08 11:42] barkbay commented on #1722
This does not work for me, I did a test on cluster `jenkins-cloud-on-k8s-e2e-tests-439`:

List of PV retrieved with `kubectl get pv`:

[code]

[code]

[2019-10-08 12:18] swvaibhav opened #1922 "Not able access Kibana using domain"
I have just deployed, Elastic Cloud on Kubernetes (ECK) and not able to access Kibana on the public URL. I have also set up an Ingress to access Kibana using the domain.

Also, when using Kibana 7.2.0 the pod keeps on crashing with error message `Kibana should not be run as root.  Use --allow-root to continue.`

[code]

[2019-10-08 12:28] charith-elastic commented on #1722
I was testing with a short cluster name. I think the reason you can't list the disks using the full name of the E2E test cluster is because it gets truncated:

[code]
So, your suggestion of using a short unique prefix for the cluster name is probably the most fool-proof method.

[2019-10-08 13:31] thbkrkr opened #1923 "Flaky TestMutationHTTPSToHTTP"
[code]

https://devops-ci.elastic.co/job/cloud-on-k8s-e2e-tests/441/

[2019-10-08 13:44] sebgl opened #1925 "Improve E2E k8s Pods checks error messages"
What frequently happens is an error in eg. `CheckESNodesTopology ` (testing topology as seen from ES) because one node is missing.

If we manage to run k8s topology checks before that (related https://github.com/elastic/cloud-on-k8s/issues/1825), we could output a friendlier error message.
What we'd really like to have instead of `got 6 nodes but expected 7` is an error that says `6 Pods out of 7

[2019-10-08 13:58] sebgl opened #1927 "Minimize downtime by ensuring ES Pods endpoints are removed before ES is stopped"
I think we can optimize ES Pods shutdown to minimize downtime in Services endpoints when removing or restarting ES Pods.

Endpoint controller code: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go

It seems to behave as I would expect: just watch Pods resources, and Create/update/delete endpoints and services accordingly.

Which means that when w

[2019-10-08 13:59] thbkrkr commented on #1822
Option 2) was implemented by #1782. Then #1852 revisited this to use kustomize for the `podTemplate` removal.

[2019-10-08 13:59] #1822 closed

[2019-10-08 14:03] thbkrkr commented on #1823
#1852 resolves this by generating two different flavors of CRD: one for k8s cluster <1.13 with `trivialVersions` that removes the schema validation and another for newer clusters that benefit from the two schemas of both versions.

[2019-10-08 14:03] #1823 closed

[2019-10-08 14:08] sebgl commented on #1927
Endpoint controller code: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpoint/endpoints_controller.go

It seems to behave as I would expect: just watch Pods resources, and Create/update/delete endpoints and services accordingly.

[2019-10-08 16:05] thbkrkr commented on #1923
Closed in #1928.

[2019-10-08 16:05] #1923 closed

[2019-10-08 17:19] #1722 closed

[2019-10-08 18:37] anyasabo commented on #1916
I'm +1 for this. Do you think just for forced upgrades or any time we delete a pod? My inclination is only for forced upgrades

[2019-10-08 18:50] bleskes commented on #1579
I think we need to better understand why we take 2 min to start a node? Is that inherent to k8s (which may mean we need a default change) or something else is off.

Ps note that elasticsearch will cancel recoveries if the node comes back and has perfect shard copies on it (and more improvements are coming there)

[2019-10-08 21:48] anyasabo opened #1934 "Revisit OpenShift docs"
With the change to recommending mmap be disabled for the quickstart we should update the openshift docs accordingly

[2019-10-08 22:36] anyasabo commented on #1922
What happens when you attempt to access it? If you can also share the ECK version you are using it would help us try to reproduce it.

Can you please open up a separate issue with the spec you used to create this? I tried to reproduce it and was unable to. Similarly please share the ECK version as well.

[2019-10-08 22:46] Brian-McM commented on #1875
I think there's also a problem with internal es clusters as there's no way to configure the elasticsearch credentials specified by the kibana CRD:
`
elasticsearch:
      description: Elasticsearch configures how Kibana connects to Elasticsearch
      properties:
        auth:
          description: Auth configures authentication for Kibana to use.
          properties:
            inline:

[2019-10-09 06:02] barkbay opened #1937 "Remove the use of `vm.max_map_count` in GKE"
Since we use `node.store.allow_mmap` in e2e tests it should be safe to remove the setup of `vm.max_map_count` in GKE.
It would also solve an internal issue we have with the SSH keys.

_See https://github.com/elastic/cloud-on-k8s/pull/1850#issuecomment-537518294 for reference_

[2019-10-09 06:05] barkbay commented on #1750
Fixed by #1840

[2019-10-09 06:05] #1750 closed

[2019-10-09 06:06] barkbay commented on #1898
I think it is not supposed to happen anymore with #1929

[2019-10-09 06:06] #1898 closed

[2019-10-09 07:22] sebgl commented on #1579
I tend to think we should not apply our own default here. Also ECK `1.0.0-beta1` should help a bit. Some arguments below.

About **rolling upgrades**:

* ECK 1.0.0-beta1 has a new reworked orchestration algorithm that handles Elasticsearch rolling upgrades as a first-class concept. If you upgrade a 3-nodes cluster to a 3-nodes cluster with a different spec (k8s podTemplate or Elasticsearch configu

[2019-10-09 07:27] jordansissel commented on #1579
+1 though I haven't spent time on it. We upgrade so often and have so many other tasks we aren't focusing much on the "why" (besides documenting issues like this) and focusing more on the "make it work" to support the maintenance on our clusters.

Also +1 everything @sebgl said. Beyond that, setting a cluster-wide default for node_left is not possible in `config:` (which becomes elasticsearch.yml)

[2019-10-09 07:53] #1937 closed

[2019-10-09 08:01] pebrc commented on #1875
@Brian-McM the section you are quoting here has been removed from the CRD in #1687

You can specify username and password as you would for Kibana running outside of k8s:
[code]

The problem this issue tries to address is that we abort the reconciliation if there is no associated Elasticsearch cluster in k8s for a given Kibana

https://github.com/elastic/cloud-on-k8s/blob/d91679b05ed15f7dbb88d367c7

[2019-10-09 08:36] barkbay opened #1939 "Add an error log when some validations fail"
When a validation fails we only generate an k8s event.
We should also log the validation failure in the operator log at the error level.

[2019-10-09 08:37] david-kow commented on #1927
Regarding the 'do nothing' option and relying on retries. While I agree that any sane client will have retries, I think that it's something unexpected (one might ask: why would dead nodes be in the pool?). In any case clients will see timeouts/5xxs and/or increased latency. Given the number of nodes in smaller clusters and non-default maxUnavailable config, this can lower the availability of the c

[2019-10-09 08:46] pebrc commented on #1927
I think I like the preStop hook proposal because it is simple compared to the alternatives and requires zero coordination via the operator reconciliation loop.

Having said that a fixed 10 sec buffer is of course sub-optimal. IIUC the value should be somewhat dynamically tied to the time it takes for a terminating pod being dropped from the service's endpoints which might vary depending on factors

[2019-10-09 08:56] sebgl opened #1940 "Display timestamp of events in failed E2E tests"
When an E2E test fails, it's hard to figure out the chronology of events since they don't have any timestamp associated.
We should display the timestamp of each event in the E2E failure output.

[2019-10-09 09:42] #1939 closed

[2019-10-09 09:45] david-kow commented on #1916
I think in other (happy path) case we don't care whether it's pending or not when we remove it, so I'd say yes, only for forced upgrades.

[2019-10-09 10:16] pebrc commented on #1922
@swvaibhav I tried your example (on latetest master) and it works for me if I leave out ` nginx.ingress.kubernetes.io/rewrite-target: /$2` otherwise I get a redirect loop.

I tried both 7.1.0 and 7.20.

So I am tempted to close this, please reopen if needed.

[2019-10-09 10:16] #1922 closed

[2019-10-09 10:18] kurktchiev opened #1943 "Unable to create headless services for kibana and elastic"
I see that I can specify the service type in the examples directory. However, I am unable to tell it that I want to create the following:
[code]
At the end of the day I would like to create headless services. I am using 0.9 version of the operator on a Kube 1.13 cluster.

[2019-10-09 13:05] thbkrkr commented on #1744
Closed in #1787.

[2019-10-09 13:06] #1744 closed

[2019-10-09 13:34] barkbay commented on #1801
It is not possible to install a plugin using an unprivileged user. Any user using a security context and/or some PSP to secure a K8S cluster is likely to hit this issue _(not specific to Openshift)_.

The root cause is that the plugin installation attempts to change the owner on a directory, which is something only `root` can do:
https://github.com/elastic/elasticsearch/blob/a8dae10edb67895b9ece74

[2019-10-09 13:42] DJDANNY123 opened #1947 "Current state of custom elastic-search images/ offline usage?"
## Bug Report
**What did you do?**

Installed the elastic operator on offline kubernetes cluster and attempted to install custom image using old documentation from git history (has this feature been removed, despite recommended in recent documentation?)

Used the following definition to start a cluster:
[code]

**What did you expect to see?**

Healthy elasticsearch cluster with one node and a give

[2019-10-09 13:46] thbkrkr opened #1948 "Update volumeBindingMode of the default storageClass on AKS"
For our E2E tests, on GKE, we used to create a new storage class with the `volumeBindingMode` field set to `WaitForFirstConsumer`.
On AKS, by default, there are two storage classes with `volumeBindingMode: Immediate`.

[code]

We should do the same thing on AKS as on GKE.

[2019-10-09 13:59] barkbay commented on #1947
As stated in the [README](https://github.com/elastic/cloud-on-k8s/blob/master/README.md) for Elasticsearch 6.x only 6.8.0 and above are supported.
Feel free to reopen if there's still a problem with the private registry but it should work with ES 6.8.

[2019-10-09 13:59] #1947 closed

[2019-10-09 14:29] thbkrkr commented on #1948
We can't do like on GKE: create a new one, swap the default annotation from the old one to the new one. The `default` storage class is always _reset_ to be the default one. See: https://github.com/Azure/AKS/issues/118.

One solution is to use our new non-default storage class by specifying it in the [`volumeClaimTemplates`](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-volume-claim-temp

[2019-10-09 15:36] kuisathaverat opened #1950 "Cannot set discovery.zen.hosts_provider anymore starting Elasticsearch 8.0.0"
## Bug Report
**What did you do?**

We were trying to deploy Elasticsearch 8.0.0-SNAPSHOT

**What did you expect to see?**

Five Elasticsearch nodes up and running.

**What did you see instead? Under which circumstances?**

Five unhealthy Elasticsearch nodes, after reading the logs seems that a couple of configuration options are no longer available.

**Environment**

* ECK version:

	0.9.0

* Kub

[2019-10-09 15:40] sebgl opened #1951 "E2E tests randomly panic when ran locally"
When running E2E tests locally with make `e2e-local`, I sometimes get:

[code]

Digging into the code, I think it's related to how we [recreate an Elasticsearch HTTP client every X seconds](https://github.com/elastic/cloud-on-k8s/blob/0f908494ca2712875171676d90a58756fcd26e00/test/e2e/test/elasticsearch/steps_mutation.go#L194-L195), which itself [creates a new Kubernetes client](https://github.com/

[2019-10-09 15:48] sebgl commented on #1950
Matching log we can see when deploying Elasticsearch 7.4.0:

[code]

[2019-10-09 17:59] saurabh24292 commented on #1889
Anything here? Is there any other way i can use lubana on this ES Cluster? I am not sure if deploying Kibana using the official docker image and setting elasticsearch.hosts to the es cluster IP will work. Can someone point me in the right direction here? I can perhaps then use the same process for deploying es-hq

[2019-10-09 18:49] anyasabo commented on #1889
This looks like a version mismatch issue. If you are using the 0.9 operator you will want to use the 0.9 documentation and examples rather than the ones in the master branch. In this case it looks like the 0.9 CRDs (with only the v1alpha1 version), but using a v1beta1 Kibana resource. I was able to reproduce it using your example yaml and as soon as I corrected the Kibana version to v1alpha1 (as t

[2019-10-09 18:49] #1889 closed

[2019-10-09 19:01] #1851 closed

[2019-10-10 06:23] #1389 closed

[2019-10-10 06:52] #1858 closed

[2019-10-10 10:50] thbkrkr opened #1960 "Document what the all-in-one flavors are"
#1852 introduced the building of more than one all-in-one bundles.

It might be good to explain why and what are the differences between the flavors.

Follow-up #1876.

[2019-10-10 10:51] thbkrkr commented on #1876
Closed in #1904 and #1959.

[2019-10-10 10:51] #1876 closed

[2019-10-10 10:57] #1734 closed

[2019-10-10 10:58] thbkrkr commented on #1890
Closed in #1846.

[2019-10-10 10:58] #1890 closed

[2019-10-10 11:05] thbkrkr commented on #1934
I think #1839 covered this.

https://github.com/elastic/cloud-on-k8s/blob/383f59e64f2bf81dae874a108441eadefe223626/docs/openshift.asciidoc#L97

Did you think of something else?

[2019-10-10 11:32] #1229 closed

[2019-10-10 11:50] swvaibhav opened #1963 "Connecting with Elasticsearch running in Elastic on Kubernetes"
When I am trying to connect with `Elasticsearch 7.2.0` using Java `RestHighLevelClient` I am getting below exception

[code]

My code to connect

[code]

How to connect? When I do curl, I am able to get a successful response back from the cluster

[2019-10-10 12:07] swvaibhav opened #1964 "Elasticsearch resources not getting applied"
I am trying to change default assigned resources `CPU and RAM` to `Elasticsearch` Pod but it is not reflecting. Below is the YAML config and I am using 7.2.0 version of elastic

[code]

[2019-10-10 12:08] barkbay commented on #1963
Your client does not trust the certificate exposed by Elasticsearch.

Please see here how to get the certificate: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-accessing-elastic-services.html#k8s-default-self-signed-certificate

I would check for the client documentation how to trust this certificate (_or maybe disable certificate verification, even if it is not recommended)_
You can al

[2019-10-10 12:08] #1963 closed

[2019-10-10 12:09] swvaibhav commented on #1922
@pebrc Yes, when I removed the `nginx.ingress.kubernetes.io/rewrite-target: /$2` annotation, I was able to access the Kibana, however, I still think it is not possible to access it on a subpath say `https://www.example.com/eck`

[2019-10-10 12:11] pebrc commented on #1964
YAML issue: the pod template needs to be part of the node you are specifying, your example has unintentionally two node specs

You probably want something like:
[code]

[2019-10-10 12:11] #1964 closed

[2019-10-10 12:25] swvaibhav commented on #1964
@pebrc Thanks for the solution, it worked

[2019-10-10 12:45] #1762 closed

[2019-10-10 12:58] pebrc opened #1965 "Simplify Enterprise license installation"
Installing an Enterprise license is needlessly complicated at the moment. Users need to create a secret that fulfills ~three~ two requirements:

1. ~`common.k8s.elastic.co/type: license` label~
2. `license.k8s.elastic.co/type: enterprise` label
3. a key called `license` mapped to the actual license data

Consider this example:
[code]

That seems needlessly complex and redundant. It also means that

[2019-10-10 13:43] charith-elastic commented on #1943
This works on Kubernetes 1.13 with ECK 0.9.0:

[code]

[code]

Please re-open if this doesn't answer your question.

[2019-10-10 13:43] #1943 closed

[2019-10-10 14:41] anyasabo commented on #1934
I meant primarily #2 here:
https://github.com/elastic/cloud-on-k8s/blob/383f59e64f2bf81dae874a108441eadefe223626/docs/openshift.asciidoc#before-you-begin

[2019-10-10 16:54] thbkrkr opened #1967 "Clean test output for gotestsum"
Side effect of #1962:

[code]
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-versions-gke/86/execution/node/84/log/

It looks like the test output can be composed of non-test inputs and needs to be cleaned before being passed to gotestsum.

[2019-10-10 20:46] anyasabo commented on #1967
I didn't repro it but I didn't see that error in gotestsum directly, it looks like an error that json.Unmarshal returns:

https://github.com/gotestyourself/gotestsum/blob/master/testjson/execution.go#L383

[2019-10-11 10:08] pebrc commented on #405
With the upgrade to kubebuilder v2/controller-runtime 0.2 in #1723 completed we still need to enable the multi-namespace cache if a user chooses to restrict ECK to more than one but not all namespaces.

https://github.com/elastic/cloud-on-k8s/blob/3ea08d293a75257cfdeb5993c8f1d3f385476cbf/cmd/manager/main.go#L214-L218

needs to get a custom CacheBuilder https://github.com/kubernetes-sigs/controller

[2019-10-11 10:42] david-kow opened #1975 "Fix cluster UUID race condition during bootstrap"
There seem to be a race condition during cluster bootstrap.

When ES is started, but not yet bootstrapped, the http endpoint is available and responds with cluster UUID `_na_` (see first note in this [doc](https://www.elastic.co/guide/en/elasticsearch/reference/current/cluster-state.html)). We use that to populate ES CRDs clusteruuid annotation which is used to check whether cluster is already boo

[2019-10-11 10:50] pebrc commented on #1975
Well spotted, we actually check for that in the e2e tests:
https://github.com/elastic/cloud-on-k8s/blob/25caaf104217d387f47e4d588b0550476c7c4957/test/e2e/test/elasticsearch/cluster_uuid.go#L42

But did not take it into consideration in the bootstrap detection :-(

[2019-10-11 12:40] #1975 closed

[2019-10-11 12:40] pebrc opened #1978 "Facilitate filebeat autodiscovery with hints annotation"
When creating Elasticsearch pods we could add a default filebeat annotation

[code]
which would allow filebeat [autodiscovery](https://www.elastic.co/guide/en/beats/filebeat/master/configuration-autodiscover-hints.html) to configure the Elasticsearch filebeat module for the Elasticsearch clusters created by ECK which in turn would give us nicely parsed logs:

![Screenshot 2019-10-11 at 14 36 19](h

[2019-10-11 18:32] pebrc opened #1984 "Potential memory leak in the operator"
After running a recent `1.0.0-beta1-b10` for two days with metrics reporting turned on and fetching those via metricbeat into Elasticsearch it seems that memory consumption has roughly doubled even though the number of clusters managed has been more or less constant (I have created and destroyed a few test clusters in that time)

Worth noting regarding the severity of this issue that the process's

[2019-10-13 08:33] pebrc commented on #1984
I restarted the operator with the latest bc12 and pprof profiling turned on. Memory still seems to be increasing over time.

<img width="799" alt="Screenshot 2019-10-13 at 10 26 42" src="https://user-images.githubusercontent.com/697790/66712917-36b8a200-eda4-11e9-8cef-1688dbf05b10.png">

I took a heap profile right after restarting the operator and then again multiple times afterwards.
Comparing t

[2019-10-13 17:23] barkbay commented on #1984
I did the same test and I also saw a steady increase of the RSS memory _(I have not been able to configure metricbeat to collect the go metrics)_:
![image](https://user-images.githubusercontent.com/976373/66719043-08aa8080-edeb-11e9-8f6c-6c14b457acc8.png)
A memory dump gave me the same suspect:
![image](https://user-images.githubusercontent.com/976373/66719050-1a8c2380-edeb-11e9-9546-23e44d26f283.

[2019-10-13 17:48] pebrc commented on #1984
Excellent analysis @barkbay! I think this is spot on. Just one addition we are also scheduling long running requeues in the license controller to re-issue new licenses after the expiry of the current ones.

https://github.com/elastic/cloud-on-k8s/blob/25caaf104217d387f47e4d588b0550476c7c4957/pkg/controller/license/license_controller.go#L74-L89

I am thinking we can work around this issue by managi

[2019-10-13 18:53] pebrc commented on #1984
I have drafted the idea in https://github.com/elastic/cloud-on-k8s/pull/1985

[2019-10-14 08:05] barkbay opened #1986 "Do not try to exclude a master node that never existed"
I ran out of resources on a K8S cluster while doing an upscale of a set of MDI nodes.

I'm now in a situation where the `nodeSet` can't be downscaled because the operator is trying to exclude a master node  which has never existed:

[code]

[code]

[2019-10-14 08:13] thbkrkr commented on #1948
Related to #1854.

[2019-10-14 08:51] sebgl commented on #1986
This is an interesting one.

Some ideas:

1. Ignore the error when it happens and move on with removing the master node.
2. Check if the master node is part of the cluster before we add it to voting_config_exclusions. Don't make the voting_config_exclusions call if the node is not part of the cluster.

In both cases, there's a race condition:
* we don't add the master node to voting_config_exclusi

[2019-10-14 09:27] gaetansnl opened #1987 "FATAL Error: [server.port]: expected value of type [number] but got [string]"
## Bug Report
**What did you do?**
I followed quick start
**What did you expect to see?**
Everything deploying correctly
**What did you see instead? Under which circumstances?**
Elasticsearch server and apm are OK.
But Kibana is reporting a strange error ... I did not touch `server.port`. I tried to manually set it in kibana.yaml but I still get the same error.

**Environment**

* ECK version:

I

[2019-10-14 09:48] pebrc commented on #1984
Unassigning myself as I am out the next couple of days and we are probably going with a simpler solution of not scheduling long running re-queues.

[2019-10-14 10:00] DaveCTurner commented on #1986
Ugh yes this is tricky.

Unfortunately it's necessary to know the node ID (not just its name) before we can exclude it from the voting configuration. If it's not in the cluster we don't know its node ID so we cannot exclude it, hence the exception.

Naively, if a node is not running then you don't need to play with the voting configuration to get rid of it safely. If the cluster is alive then the

[2019-10-14 10:01] sebgl commented on #1987
Hi @gaetansnl,

I cannot manage to reproduce your error.
Can you give us the content of your Elasticsearch resource (the yaml spec)?

Also can you copy the content of the "internal" Kibana configuration that was created by ECK? you can retrieve it with `kubectl get secret analytics-kb-config -o 'go-template={{index .data "kibana.yml"}}' | base64 -D`. Please take care of removing any credentials fr

[2019-10-14 10:06] sebgl commented on #1984
Let's implement an easy workaround we discussed: schedule a requeue in 10 hours instead of 365 days. This should mitigate the memory leak problem (timers still accumulate but are garbage-collected after 10 hours).

[2019-10-14 10:07] gaetansnl commented on #1987
Hi. Thank you for your quick reply ! @sebgl
[code]
[code]

[2019-10-14 10:08] pebrc commented on #1984
Let's not forget the license controller where something similar happens (`license_expiry - safetyMargin`) which can be years in the future

[2019-10-14 11:10] DaveCTurner commented on #1986
I opened https://github.com/elastic/elasticsearch/issues/47990

[2019-10-14 12:07] sebgl commented on #1987
Thanks for the outputs. I don't see anything wrong in there.

Does it also happen if you follow the exact [quickstart instructions](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html)? (Including the default names and so on).

Since you said `I tried to manually set it in kibana.yaml but I still get the same error.`, I'd like to make sure it also happens on any fresh new clus

[2019-10-14 13:35] gaetansnl commented on #1987
@sebgl I tried everything, and it seems it's related to the namespace I use. I can deploy kibana everywhere except in this namespace... Is it possible that it is conflicting with other applications in the namespace ? Do you know how I can debug that ?

[2019-10-14 14:21] kuisathaverat opened #1990 "Elasticsearch 7.4.0 does not start on ECK 1.0.0-beta1"
## Bug Report
**What did you do?**

We were trying to deploy Elasticsearch 7.4.0

**What did you expect to see?**

Five Elasticsearch nodes up and running.

**What did you see instead? Under which circumstances?**

Five unhealthy Elasticsearch nodes, after reading the logs there is an error relates to `max virtual memory areas`

**Environment**

* ECK version:

	1.0.0-beta1

* Kubernetes informati

[2019-10-14 14:31] pebrc commented on #1990
https://www.elastic.co/guide/en/cloud-on-k8s/1.0/k8s-virtual-memory.html describes the init container approach you used. Alternatively you can disable memory mapped files (e.g. for non-production environments `node.store.allow_mmfs: false` Or you can set these these kernel settingss with a daemon set ahead of time for all nodes.

[2019-10-14 14:36] sebgl commented on #1990
Just to make it clear: we removed the `setVmMaxMapCount ` option from the Elasticsearch spec starting ECK `1.0.0-beta1`.

Not an easy decision, see the [corresponding issue](https://github.com/elastic/cloud-on-k8s/issues/1712). The main reason is that it required Pods to be privileged, which is not what most users would expect an Elasticsearch operator would do. Power is now in the hands of the us

[2019-10-14 15:47] #1990 closed

[2019-10-14 15:56] anyasabo commented on #1987
@gaetansnl does it happen even with the exact quickstart yaml in that namespace? It's especially odd because there's no setting in the config you shared for `server.port`, so it should just be using the default. Looking at the configuration of the pod might show if something else is setting that field, but I'm grasping at straws a bit

[2019-10-14 17:19] gaetansnl commented on #1987
I think I reproduced
If I remove the server, kibana is starting
[code]

[2019-10-14 19:22] anyasabo commented on #1984
I'm not sure either is necessary since this works for now, and when we land a fix upstream (or someone else does) we can revisit this. But there were two other options we discussed out of band I thought might be worth noting here:

1) the default resync period is already 10h, so all items in the informer cache get flushed to the event handler. We could even just not requeue at all (at least assumi

[2019-10-14 21:18] anyasabo commented on #1987
Ah that's an interesting addition I hadn't considered. The service [automatically injects env vars into the pod](https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables) in the format of `{SVCNAME}_SERVICE_HOST`,  `{SVCNAME}_SERVICE_PORT`, and, crucially, `{SVCNAME}_PORT`. So since your service is named `server` it becomes `SERVER_PORT` with a value of `tcp://IP:80`,

[2019-10-15 07:26] sebgl commented on #1987
Good catch @anyasabo!
@gaetansnl is there a strong requirement for you to name the service `server`? Anything else would work fine I guess.

[2019-10-15 07:45] gaetansnl commented on #1987
@sebgl No I can rename it, but I was expecting the deployment to not conflict with other services. If it's not possible to prevent kibana from reading these variables, maybe the forbidden names sould be document somewhere, because it's hard to understand what's happening just with the error.

[2019-10-15 08:36] sebgl commented on #1984
Let's keep this open until we correctly observe that the memory leak is gone (or at least significantly contained).

I'm keeping the operator running since a few hours and it looks like it still leaking memory:

![image](https://user-images.githubusercontent.com/1050393/66814893-9dba9000-ef37-11e9-8f29-32853898a631.png)

[2019-10-15 08:39] sebgl commented on #1579
Based on recent feedbacks I think we can close this @jordansissel? Let's reopen if needed.

[2019-10-15 08:39] #1579 closed

[2019-10-15 08:50] #1825 closed

[2019-10-15 08:50] #1925 closed

[2019-10-15 10:13] sebgl commented on #1927
A command we can run from the preStop hook to know when the IP disappears from the StatefulSet headless service DNSes:

[code]

Which does not mean the endpoint is removed from the public-facing HTTP service though.
But could be a good approximation instead of relying on `sleep X`?

[2019-10-15 11:15] pebrc opened #1993 "Version upgrade might get stuck if new index is created"
* Upgrade to newer Elasticsearch version with breaking Lucene change
* Create new index with at least one replica, make sure it is allocated on node with newer version
* Replica cannot be created on remaining nodes b/c of incompatible Lucene version
* Cluster health is now yellow
* Upgrade cannot proceed

[2019-10-15 12:30] sebgl commented on #1611
Things we don't handle perfectly well:

* when a StatefulSet is removed
    * its expectations will stay in-memory forever (generations map)
* when a cluster is removed
    * generation expectations of all its StatefulSets will stay in memory
    * deletion expectations of Pods that may have been deleted right before cluster removal will stay in memory

When/how should we garbage-collect expectati

[2019-10-15 13:04] david-kow commented on #1993
https://github.com/elastic/cloud-on-k8s/issues/1643 seems related.

[2019-10-15 13:07] pebrc commented on #1993
@david-kow oh you are right, my seems almost like a duplicate. I did not remember that you had mentioned 'internal representation changes' which a Lucene version difference would constitute

[2019-10-15 15:21] anyasabo commented on #1927
We could add an env var to the pods with the http service name, so we can check that as well. I didn't realize we had python installed in the containers and thought we might need to add dig or something to do `dig $(SERVICE_NAME).$(NAMESPACE).svc +short | grep $(POD_IP)`, but seems like reaching for python makes sense here since we already have it.

[2019-10-15 15:44] anyasabo commented on #1927
Related ES issue discussing some of the SIGTERM behavior: https://github.com/elastic/elasticsearch/issues/45236

and earlier helm issue:
https://github.com/elastic/helm-charts/issues/190

thanks @Crazybus for the references

[2019-10-15 17:14] mikeh-elastic opened #1996 "Quickstart es and kibana yaml examples for airgapped and secured k8s clusters"
elastricsearch.yml
[code]
kibana.yml
[code]

Tested on 0.9 of the operator.

The changes we needed were stopping the root init container running the sysctl commands.
Using an internal docker repository for the image.

We had to add the numeric id for the container user as it did not work with elasticsearch and kibana as the users listed in the dockerfile and generated an error about a non root uid

[2019-10-16 04:01] glennslaven opened #1997 "Setting the spec.http.service.spec.nodePort property in the Elasticsearch CRD does not set the correct port"
## Bug Report
**What did you do?**
Applied the Elasticsearch CRD with
[code]

**What did you expect to see?**

The `region-es-http` service created as a NodePort with a `nodePort` value of 30200

**What did you see instead? Under which circumstances?**

The `region-es-http` service has a different nodePort value of `31259`, which I'm assuming is just a random one.

**Environment**

* ECK version:

[2019-10-16 08:12] david-kow commented on #1814
For some context: now, we do say `To upgrade Elasticsearch from version 7.2.0 to 7.3.0: change the value in the version field.` at https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-orchestration.html, although I'm not sure if this is visible enough given how high-value this feature is.

[2019-10-16 08:30] david-kow commented on #1290
@sebgl Can we close this? It seems to me that this is effectively implemented with https://github.com/elastic/cloud-on-k8s/pull/1812 and using:
[code]

[2019-10-16 09:07] david-kow commented on #1290
Ah, you are right. Now, we get the below for all nodes in case of upgrade.
[code]

Nevertheless, I'll close this as you are suggesting and we can reopen if needed.

[2019-10-16 09:07] #1290 closed

[2019-10-16 09:16] sebgl commented on #1996
Probably worth adding to the doc.
Note that we have a top-level `image` field in the spec that you can also use instead of specifying the `podTemplate.spec.containers[0].image` one.

[2019-10-16 09:34] pebrc commented on #1801
Closing this for now, given the assessment by @barkbay

[2019-10-16 09:34] #1801 closed

[2019-10-16 09:37] pebrc commented on #1786
`additionalPrinterColumns` can only be simple JSON path expressions so the suggested fractional syntax is not possible it seems.

[2019-10-16 10:06] thbkrkr commented on #1786
What if we maintain a `string` field in the `ReconcilerStatus` computed from the number of ready pods and desired pods:

[code]

[2019-10-16 10:16] pebrc commented on #1633
I think this is no longer an issue with the move to Go modules as we don't shadow the module cache with the volume mount iiuc

[2019-10-16 10:16] #1633 closed

[2019-10-16 11:36] dan-evolvere opened #1999 "master node configuration creates custom volume but doesnt use it, uses default 1GB instead"
## Bug Report
**What did you do?**
Created a custom cluster specifying persistent volume sizes of 20GB per master node
**What did you expect to see?**
Master nodes mount 20GB volume and this be visible in monitoring in Kibana
**What did you see instead? Under which circumstances?**
The master nodes create a 20GB PV and bind it, but also create a default 1GB PV and bind that aswell. The 1GB becomes

[2019-10-16 11:43] pebrc commented on #1999
The volume claim template needs to be called `elsticsearch-data` as documented here: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-volume-claim-templates.html

[2019-10-16 11:43] #1999 closed

[2019-10-16 12:19] pebrc commented on #1161
In a recent discussion we arrived at the conclusion that removal of blocking calls and  an async task API as suggested above is not necessary after all for two reasons:

* with the move to StatefulSets a whole lot of orchestration logic has been delegated to the k8s StatefulSet controller and blocking in the Elasticsearch controller has become less of an issue due to that.
* we could therefore jus

[2019-10-16 12:50] pebrc commented on #1156
@sebgl I wonder what you had in mind here. What does testing hot-warm mean specifically? I don't think it makes sense to test that Elasticsearch allocation requirements and ILM works.

Hot/warm/cold from an ECK perspective is just three data node sets with different volume claim templates. We can of course test that you can specify more than one data node set. But for example testing that these ac

[2019-10-16 12:57] sebgl commented on #1156
You're right. I did not have anything particular in mind, I think this was mostly in the list as something to think about when we work on the issue, in case there might be something worth testing I don't know about.

Indeed, sounds like a tricky bit.

[2019-10-16 13:09] sebgl commented on #1984
Memory usage seem to have stabilised over the last 24 hours:

![image](https://user-images.githubusercontent.com/1050393/66922146-c9687380-f026-11e9-8abb-aad3f9d3af61.png)

Not sure yet the memory leak is fixed though. Also I realized I should probably generate some reconciliations event (eg. patch ES annotations with some randomness every X seconds), since the memory leak we observed was directly

[2019-10-16 14:09] charith-elastic opened #2001 "Document how to connect Kibana to an external Elasticsearch cluster"
We currently have a standalone Kibana sample that cannot be run directly by users or tested automatically without performing an additional preparation step to setup an external Elasticsearch cluster. Instead of having this as a sample, we should just document the process of connecting to an external Elasticsearch cluster.

Related: #1875

The standalone sample will be removed as part of #1855. For

[2019-10-16 15:00] pebrc opened #2002 "Support ECS in operator logs"
Currently our logging output does not play nicely with Elastic observability tooling in Kibana for example because we don't follow [ECS](https://github.com/elastic/ecs) in the JSON logs we produce.

Example: ECK log  output not fully parsed in Kibana logs view:
<img width="1616" alt="Screenshot 2019-10-16 at 16 55 58" src="https://user-images.githubusercontent.com/697790/66931303-30415900-f036-11e

[2019-10-16 20:22] anyasabo commented on #2002
How do things like name and namespace map to ECS? Or does it make sense to map the things we can (looks like `level`, `timestamp`, `logger`, and `message` at least), and then leave the rest as is?

[2019-10-16 21:31] anyasabo opened #2005 "Halt ML jobs before node restart"
Opening an issue for the outstanding TODO to halt ML jobs before we restart a node [here](https://github.com/elastic/cloud-on-k8s/blob/master/pkg/controller/elasticsearch/driver/upgrade.go#L331). This is described in the official rolling upgrade ES docs:
https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html

[2019-10-16 23:14] glennslaven commented on #1997
Yep, helps if you RTFM, sorry.

[2019-10-17 00:06] glennslaven opened #2006 "`xpack.security.transport.ssl.certificate_authorities` in node config seems to be ignored"
## Bug Report
**What did you do?**

I'm pretty sure I'm doing something wrong. I'm trying to customise the CA so I can configure a trust relationship with a remote cluster.

I've set this:
[code]
in the elasticsearch CRD

**What did you expect to see?**
The config secret updated with a new setting for `xpack.security.transport.ssl.certificate_authorities`. According to https://github.com/elastic/c

[2019-10-17 03:09] 327101303 commented on #2006
I have the same problem. I want to close xpack. {http. SSL and transport. SSL}, but the operator log shows: "violations":[{"Allowed":false,"reason":"node[0]: xpack.security.http.ssl.enabled, xpack.security.transport.ssl.enabled, xpack.security.transport.ssl.verification_mode is not user configurable"

I hope these security restrictions can be configured, because I don't want to be so troublesome f

[2019-10-17 08:49] sebgl opened #2009 "Bypass downscale checks to remove StatefulSets with 0 replicas"
Following a discussion with @charith-elastic and @david-kow.

The `TestMutationMDIToDedicated` E2E test is failing since we introduced better E2E tests with https://github.com/elastic/cloud-on-k8s/pull/1949.

This test is supposed to create 2 new StatefulSets (master, data), and remove the old one (master + data).
It stays stuck with the old master+data StatefulSets with 0 replicas never deleted.

[2019-10-17 08:49] sebgl commented on #2009
Assigning to @david-kow, I know you love that part of the code now :)

[2019-10-17 09:44] artemnikitin opened #2010 "Investigate if it's possible to get or generate URL for failed test in Jenkins"
Can we obtain or generate URl to failed test like https://devops-ci.elastic.co/job/cloud-on-k8s-e2e-tests/493/testReport/github/com_elastic_cloud-on-k8s_test_e2e_es/TestMutationMdiToDedicated_All_expected_Pods_should_eventually_be_ready_01/?

At the moment, it looks like there is no out-of-the-box way of doing this.

[2019-10-17 09:46] artemnikitin opened #2011 "Use block for Slack notifications"
Investigate using of https://api.slack.com/reference/block-kit/blocks, like in main Cloud jobs, for Slack notifications

[2019-10-17 10:27] #1657 closed

[2019-10-17 12:26] david-kow opened #2012 "Test operator behavior after failover"
As a stateless service we expect the operator to be resilient to downtime, but we don't currently test for it. We should at least have a sanity test around correctness of what operator is doing when being randomly restarted. Somewhat related to general chaos testing.

[2019-10-17 12:33] david-kow opened #2013 "Introduce availability testing to e2e tests"
While we do check for cluster health and correct pod count we don't try to continuously hit ES endpoints. Doing that (especially at high rate) would increase our confidence about the safety of the updates/topology changes that the operator is doing. It would also help to detect and asses severity of issues like #1927 (this might be even prerequisite for a fix to that particular issue).

[2019-10-17 12:41] david-kow opened #2014 "Support percentages in updateBudget"
`maxSurge` and `maxUnavailable` should support specifying their values as percentages of node count in spec. This will improve usability and will mirror https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#max-surge.

[2019-10-17 13:58] david-kow opened #2015 "Catalogue supported spec changes"
Now and then we are discussing implications and code changes around particular spec change (upgrade, scaling, node set change, etc.). Usually, this is recorded in issue/PR or an offline discussion and maybe codified into UT or E2E.

I think it would be useful to keep a catalogue of these spec changes. Getting high-level overview of these edge/difficult/rare cases is not possible based on issues/PR

[2019-10-17 14:05] #1143 closed

[2019-10-17 15:03] anyasabo commented on #2015
Documenting edge cases makes sense I think

[2019-10-17 15:11] #405 closed

[2019-10-17 16:25] ljdelight commented on #1984
Hey I'm curious what tools you used to collect the performance data and view the graphs? I haven't done much performance monitoring in K8s but am wanting to learn.

[2019-10-18 06:27] sebgl commented on #1984
Hey @ljdelight, we are running [Metricbeats on Kubernetes](https://www.elastic.co/guide/en/beats/metricbeat/current/running-on-kubernetes.html), which pushed metrics into the configured Elasticsearch cluster, that we visualize with Kibana.

[2019-10-18 08:56] pebrc opened #2017 "e2e test for license support"
We have a few e2e test for licensing related functionality but we don't run those tests because they require a license.

Investigate whether we can either run those tests on CI with a license or find another way of exercising that code.

[2019-10-18 09:21] pebrc opened #2018 "7.5 support"
- [x] Smoke test 7.5 (manually)
- [ ] Add e2e test using 7.5
- [ ] Add e2e test upgrading to 7.5

[2019-10-18 13:37] weeco opened #2024 "Multiple persistent volumes used for Datanodes"
## Bug Report
**What did you do?**

I want to create a zone aware Elastic cluster with 3 master nodes and 4 data nodes (2 in each zone)

**What did you expect to see?**

I expected them starting and readying up with no issues.

**What did you see instead? Under which circumstances?**

I saw 2 out of 4 data nodes pending because of a node volume conflict. I figured out that I have to set `volumeBin

[2019-10-18 13:44] pebrc commented on #2024
The volume claim templates need to be called `elasticsearch-data` otherwise you are just creating an additional volume next to the default volume ECK creates.

It is documented here: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-volume-claim-templates.html

Closing this for now reopen if needed.

[2019-10-18 13:44] #2024 closed

[2019-10-18 14:14] nkvoll commented on #50
This does not seem to be within the scope of the operator at this point (e.g it's more of a multi-tenant K8s feature), so I'm closing this.

[2019-10-18 14:14] #50 closed

[2019-10-18 14:15] nkvoll commented on #309
I think we've decided not to do this for now.

[2019-10-18 14:15] #309 closed

[2019-10-18 14:19] sebgl opened #2026 "Should we get rid of most finalizers?"
Forking the discussion from https://github.com/elastic/cloud-on-k8s/pull/2000#discussion_r336373978.

Finalizers are a great way to ensure we properly garbage-collect some things related a particular resource. For example, by setting our keystore finalizer to the Elasticsearch resource, we ensure the operator removes all dynamic watches on user-provided keystore secrets, before the apiserver can s

[2019-10-18 14:36] sebgl opened #2028 "Only update sset generation expectations in the main ReconcileStatefulSets function"
Fork from https://github.com/elastic/cloud-on-k8s/pull/2000#discussion_r336417830.

We could simplify things a bit by calling `ReconcileStatefulSet` in the downscale phase, so we only deal with expectations in there.

[2019-10-18 20:29] ljdelight commented on #1984
What's your process when you "collect a heap profile"? Like, do you have profiling code in the binary that writes the heap data on some interval, or do you pprof the binary (which needs specific compile flags?). I'm thinking of approaches and I imagine it's tricky in K8s if there's no pprof in the container.

[2019-10-18 20:48] anyasabo commented on #1984
We expose pprof endpoints in dev mode: https://github.com/elastic/cloud-on-k8s/blob/master/cmd/manager/main.go#L162

[2019-10-18 21:55] anyasabo commented on #1769
Want to discuss options for deployment. Previously, at runtime the operator would deploy the webhook configuration and generate the required certs. Kubebuilder v2 does not do this. See here: https://kubebuilder.io/cronjob-tutorial/running-webhook.html

# Options

## 1. Hard dependency on cert-manager

This is the recommended path from kubebuilder. In this case, we would
- add an additional yaml fi

[2019-10-19 06:55] ljdelight commented on #1984
Thank you so much for the replies @sebgl and @anyasabo, i really appreciate it

[2019-10-20 21:17] #2006 closed

[2019-10-21 07:15] sebgl commented on #1769
I agree with all your pros and cons @anyasabo, that's a great summary 👍

I **think** I would still be in favour of option 2 though (reimplementing the webhook installer). My arguments:

* Requiring a strict version of cert-manager installed is quite hard to do. What if the user already has cert-manager installed, but in an old version which does not generate certs the way we want? What if the user

[2019-10-21 07:36] pebrc commented on #1769
I can only second what @sebgl said: great summary of the options we have.

I think we kind of want to do both?
* For users already adopting cert-manager we want to allow them to use it for ECK as well.
  * we can achieve that by either documenting how to create a Certificate resourcce for the operator (or shipping a sample)
  * there is probably no harm in annotating the webhook resource with the

[2019-10-21 08:18] charith-elastic opened #2030 "Set enableServiceLinks to false by default in pod specs"
From Kubernetes 1.13 onwards, setting `enableServiceLinks` to `false` in the pod spec will prevent the injection of environment variables with service information into the pod. Since Elasticsearch, Kibana nor APM server depend on these injected variables, defaulting `enableServiceLinks` to `false` in all pod specs will help avoid issues with name clashes such as the one reported in #1987

[2019-10-21 08:26] charith-elastic commented on #1987
Almost all of Kibana configuration keys can be specified as environment variables: https://www.elastic.co/guide/en/kibana/current/docker.html#environment-variable-config. Unfortunately, I don't think it will be practical to comprehensively document all possible names that could clash as both Kubernetes and Kibana projects have high development velocity.

From Kubernetes 1.13 onwards, environment v

[2019-10-21 08:26] #1987 closed

[2019-10-21 08:43] charith-elastic commented on #1872
Closing this for now. Please re-open with more details if you encounter the issue again.

[2019-10-21 08:43] #1872 closed

[2019-10-21 08:45] charith-elastic commented on #1824
Closing this for now. Please re-open if you have any updates on the issue.

[2019-10-21 08:45] #1824 closed

[2019-10-21 09:20] suratpyari opened #2031 "Load Balancer not starting on AWS EKS"
Hi,

I have been trying ECK on AWS EKS. My pod is running but not able to start load balancer.

following is the code which I was trying ...
[code]

Please let me know how can I debug it and why load balancer is not starting.

[2019-10-21 09:54] charith-elastic commented on #2031
Your manifest configuration seems correct. There could be many environment-specific factors that is preventing the load balancer from being provisioned (lack of permissions, for example) and it is not possible for us to provide any specific debugging instructions for cloud providers.

Please take a look at the operator logs (https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-troubleshooting.

[2019-10-21 09:54] #2031 closed

[2019-10-21 11:07] racevedoo commented on #2030
@charith-elastic can I take this one? Seems pretty straightforward

[2019-10-21 13:02] nkvoll opened #2032 "Operator and cluster licensing as a unit"
### Background requirements / constraints / input:
- Operator and clusters have a 1:1 relationship when it comes to licensing. E.g enterprise operator = enterprise cluster.
- Need to make sure each cluster is only managed by a single operator at a time (no conflicts)
- Be able to go from basic <-> enterprise license. (soft requirement on the operator itself, required for clusters, being able to ch

[2019-10-21 13:06] racevedoo commented on #1274
Closed by #1955

[2019-10-21 13:26] sebgl commented on #1950
Fixed by https://github.com/elastic/cloud-on-k8s/pull/2029.

[2019-10-21 13:26] #1950 closed

[2019-10-21 14:03] charith-elastic commented on #2030
Probably not wise to take it on just yet because the team hasn't had a chance to triage it. It's a bit tricky because we still support Kubernetes 1.11 and this setting is only available from 1.13 onwards.

[2019-10-21 14:54] PaulGrandperrin opened #2034 "Operator CrashLooping on 1.0.0-beta1 when maxUnavailable=-1"
## Bug Report
**What did you do?**
Changed `maxUnavailable` from `0` to `-1` on a cluster whose reconciliation loop was stuck because it couldn't remove pods.

**What did you expect to see?**
Cluster to be reconciled.

**What did you see instead? Under which circumstances?**
The operator is crash looping.

* ECK version:
1.0.0-beta1-84792e30

* Kubernetes information:
Google's GKE version: 1.14.6-

[2019-10-21 15:03] anyasabo commented on #2030
This makes sense to me. It looks like a pod spec with that field will fail admission validation pre-1.13, so I think we'd have to do one of
- detect what version of k8s we're talking to before applying it
- control it via a feature flag. We already have separate yamls for 1.13+, so we could set it via an env var in that yaml
- wait until we don't support pre-1.13 any longer

[2019-10-21 15:34] PaulGrandperrin commented on #2034
The issue is not only about the "unboundedness" of the value, a big number like 100 triggers the same crash.

[2019-10-21 15:35] thbkrkr commented on #728
ECK does not prevent the normal use of the native realm.

By enabling the user native authentication:
[code]

Users and roles can be created using the security APIs:

[code]

Documentation pages:
- https://www.elastic.co/guide/en/elasticsearch/reference/current/configuring-native-realm.html
- https://www.elastic.co/guide/en/elasticsearch/reference/current/security-api-put-role.html
- https://www.e

[2019-10-21 15:53] anyasabo commented on #1769
I was thinking that since the webhooks are more of a "nice to have" feature that wide compatibility is not as necessary. Also, the actual configuration of the certificates to utilize cert-manager is not complex, see the example [here](https://kubebuilder.io/cronjob-tutorial/cert-manager.html). So changing it for a specific version should not be too challenging.

They would likely have a similar pr

[2019-10-21 18:50] pebrc commented on #2034
I think the problem is that we don't initialise shardLister here:

https://github.com/elastic/cloud-on-k8s/blob/ca2c732bd1ca9503a203b3902badafeb0a8aed5b/pkg/controller/elasticsearch/driver/upgrade.go#L129-L140

and apparently we rarely hit the last upgrade predicate that makes use of that shard listing

https://github.com/elastic/cloud-on-k8s/blob/6cf8486811c2d5c57b74f70f25d4c5c052d5213d/pkg/contr

[2019-10-21 21:38] spencergilbert opened #2036 "Issues with users other than default "elastic""
## Bug Report
**What did you do?**
Followed quickstart guide, additionally created a superuser via the ui

**What did you expect to see?**

Built-in users, newly created users functioning

**What did you see instead? Under which circumstances?**

Users UI only shows `No items found`, GET _security/user returns `{ }`

Attempting to log into kibana as superuser returns `Invalid username or password.

[2019-10-22 07:12] #2034 closed

[2019-10-22 07:26] charith-elastic opened #2037 "Enable native realm in addition to the file realm"
It seems that the native realm is only enabled by default if no other realms have been defined. In #1698 we explicitly enabled the file realm -- which results in the native realm getting disabled and preventing users from authenticating using the credentials they create using the UI. See #2036.

[2019-10-22 07:28] charith-elastic commented on #2036
Thanks for reporting this. It looks like the native realm has been disabled due to the operator enabling the file realm by default. You can update your cluster to enable the native realm by running the following:

[code]
I have raised #2037 to investigate this further for a future release.

[2019-10-22 07:34] charith-elastic commented on #728
It looks like adding any realm configuration disables the native realm (unless it is explicitly created). Users can still use the APIs and the UI to create users but they can't authenticate to the cluster using those credentials. See #2036 and the follow-up #2037.

[2019-10-22 07:35] #2036 closed

[2019-10-22 07:49] #1611 closed

[2019-10-22 07:50] uric commented on #2032
Not sure I follow the ux here. If I change the operator identifier to something other than default, will I also have to explicitly change the `managed-by` annotation for every cluster? If so I think that’s untenable for the user. I’d assume that this annotation is just set by the operator when creating the cluster?

[2019-10-22 08:13] pebrc commented on #2032
Yes, but why would you want to do that? The operator identifier in my mind is almost immutable. We can discuss if we want to use the operator UUID by default (and let the operator populate the annotation) and if you need to switch a cluster to a different ECK instance you would have to override that annotation. But that just moves the UX problem to the point where you have to figure out the UUID o

[2019-10-22 09:17] #1274 closed

[2019-10-22 09:20] PaulGrandperrin opened #2039 "Operator 1.0.0-beta1 stuck in error loop when one's CRD's `secureSettings ` is a map. All progress is stopped on all the other CRDs."
## Bug Report
**What did you do?**
Upgrade the operator from 0.9.0 to 1.0.0-beta1 with a soon-to-be-deleted elasticsearch cluster (instanciated with 0.9.0) still running.
The idea was to leave the old cluster running, create a new one with the operator 1.0.0, reindex the data in the new one, and delete the old one.
When I tried creating the new one, with the updated yaml file,  nothing happened.

[2019-10-22 09:43] spencergilbert commented on #2036
Awesome, thanks for the work around @charith-elastic

[2019-10-22 11:31] #1875 closed

[2019-10-22 11:43] pebrc commented on #390
Maybe we should not do any of the upgrade guidance mechanism mentioned above.
* Users can use the Kibana upgrade assistant exactly as they would on a bare-metal installation
* The operator has no good way of rejecting an upgrade in a user friendly way
   * events and logs are sub-optimal
   * if we re-establish an admission control we would have a fairly user-friendly way of communicating problems

[2019-10-22 11:46] charith-elastic commented on #2039
This is unfortunate but it is expected. In order to upgrade the operator from 0.9.0 to 1.0.0-beta1, you must delete old CRDs from the Kubernetes cluster first. Deleting the CRDs will not delete existing Elasticsearch, Kibana or APM servers. See https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-upgrading-eck.html for more information.

[2019-10-22 11:46] #2039 closed

[2019-10-22 12:22] #2037 closed

[2019-10-22 13:09] mleklund commented on #2036
Yes, Thanks for the workaround, been staring at this for hours.

[2019-10-22 14:02] PaulGrandperrin commented on #2039
Hi @charith-elastic
Sorry, I didn't express myself correctly, when I said `CRD`, I meant the `CRD` instances, like Elasticsearch objects.
I followed the documentation you linked to.
I update my wording.
Could you please reread the issue and reopen the bug?
Thanks

[2019-10-22 15:02] pebrc opened #2042 "Document beta1 known issues"
We have three known issues in beta1 so far:

* https://github.com/elastic/cloud-on-k8s/issues/2037
* https://github.com/elastic/cloud-on-k8s/issues/1984
* https://github.com/elastic/cloud-on-k8s/issues/2034

Let's document them and describe workarounds if applicable until we can ship the next release that fixes them.

[2019-10-22 15:24] PaulGrandperrin commented on #2042
Hi @pebrc,
Sorry to kind-of-but-not-totally highjack this issue, but there is another issue that I created that was closed I think too early: https://github.com/elastic/cloud-on-k8s/issues/2039
I think this is a legitimate use-case (it's documented in the doc) and also I think the operator should never be stuck so hard because of a syntax error.
Thanks for your time!

[2019-10-22 15:25] charith-elastic commented on #2039
Hi @PaulGrandperrin, I should have been clearer with my previous answer: there are several breaking changes between 0.9.0 and 1.0.0-beta1 such as the data type change you are referring to in this issue. Unfortunately, due to various technical reasons, v1beta1 resources and v1alpha1 resources cannot co-exist in the same cluster. This is why our recommended approach is to start with a fresh Kubernet

[2019-10-22 15:34] sebgl commented on #2039
The error seems to happen at the resource parsing level (before our reconciliation kicks in), it's pretty hard to fix in ECK, we'd probably have to look into the reflector used by client-go.

For future releases (especially starting GA), we do plan to correctly handle backward compatibility with conversion hooks, to make sure this does not happen.
The other thing we want to invest in in the future

[2019-10-22 15:35] PaulGrandperrin commented on #2039
Thanks for the detailed explanation, it helps :-)
I have no problem with this state of affairs but then I think the documentation should be updated to remove those paragraphs:
[code]
and
[code]
or at least document that old `CR`s might freeze the operator and prevent any kind of operations.

I think those paragraphs make it looks like it is supported to keep temporarilly old `CR`s from the 0.9 ope

[2019-10-22 15:42] PaulGrandperrin commented on #2039
This error loop also means that if someone one a k8s cluster pushes a CR with invalid syntax, it will break the control-plane (the elastic-operator functions) of all the other elastic clusters in all the other namespaces.

[2019-10-22 15:47] sebgl commented on #2039
I created https://github.com/elastic/cloud-on-k8s/pull/2043 to at least add a note in the relevant doc section.

[2019-10-22 15:50] sebgl commented on #2039
Indeed, great point. It's very unfortunate. But at least kind-of explicit in the operator logs. Subtle things are not exposed at all in the logs: for example if you specify `secureSettings` at the wrong level in the spec (eg. within a NodeSet), it is silently ignored.
Structural schemas and resources validation should solve both cases.

[2019-10-22 15:54] PaulGrandperrin commented on #2039
Thanks @sebgl and @charith-elastic for the answers and actions!
This is a high-quality operator and support you are doing :-)

[2019-10-22 16:19] sebgl opened #2044 "CRD's openAPIV3Schema field is ignored"
To reproduce:
1. Apply the Elasticsearch CRD from `config/crds`
2. Retrieve the CRD: `kubectl get crd elasticsearches.elasticsearch.k8s.elastic.co -o json`

The openAPIV3Schema field from the CRD is dropped in the stored CRD (but present in the kubectl annotation).

Looking at https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#create-a-customresour

[2019-10-22 16:19] sebgl commented on #2039
@PaulGrandperrin investigating further we spotted a problem in our CRDs openAPIV3Schema validation. See https://github.com/elastic/cloud-on-k8s/issues/2044.
Thanks for reporting :)

[2019-10-22 21:41] anyasabo commented on #2044
I think this is working as intended unfortunately. Pre 1.15, the feature is in alpha and requires a feature gate. Check out the [schema field description](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.14/#customresourcedefinitionversion-v1beta1-apiextensions-k8s-io) in 1.14:

I tested by starting a 1.14 cluster with the feature gate (`minikube start --kubernetes-version=v1.14.0

[2019-10-22 22:59] anyasabo commented on #2032
Is this just to enable having multiple clusters with different licenses active in the same namespace? Otherwise isn't just using the `--namespaces` flag on the operator sufficient to let people have different clusters with different licenses, they just have to be in different namespaces? That seems reasonable IMO

[2019-10-23 01:26] andy199 opened #2045 "1.0.0-beta1 Cannot log in after creating a user in kibana"
After the user is created in kibana, I can't log in. Is there any way to solve it, or need those roles?

![1571793912(1)](https://user-images.githubusercontent.com/12758575/67348312-14c6d880-f577-11e9-941c-fa6ca75a26f4.png)
![2](https://user-images.githubusercontent.com/12758575/67348353-3627c480-f577-11e9-9580-d5daa0cf4d99.png)

[2019-10-23 05:34] ximenzaoshi commented on #1522
It's very strange to clear shard allocation excludes at every reconciliation attempt. I tried to decommission one specific node by setting shard allocation exclude config, but it always be reseted automatically which really confused me. I think we should not change the settings that already exist.
By the way, is there any way to remove a specific node? It seems that we can not do this using statef

[2019-10-23 06:34] charith-elastic commented on #2045
Hi, this is a known issue that we have already fixed in master. You can work around for the time being
 by enabling the native realm as described here: https://github.com/elastic/cloud-on-k8s/issues/2036#issuecomment-544838578

[2019-10-23 06:34] #2045 closed

[2019-10-23 07:09] sebgl commented on #1522
@ximenzaoshi a workaround to not have the operator concurrently resetting your cluster settings is to temporarily disable reconciliations. This can be done by setting an annotation on your Elasticsearch resource:
`"common.k8s.elastic.co/pause": "true"`
When set, ECK will ignore the Elasticsearch cluster. Don't forget to remove it when you're done with any temporary manual operation.

Indeed, it's

[2019-10-23 07:46] sebgl commented on #2044
Oh, so `spec.versions[#].schema` does exist in the v1beta1 version, thanks for clarifying.
So IIUC we can use the top-level `validation` field in the spec, but not `spec.versions[#].schema` which is behind a disabled feature flag in most k8s setups?
Using the top-level one means all versions are validated the same way, which may lead to https://github.com/elastic/cloud-on-k8s/issues/2039 anyway I

[2019-10-23 08:30] ximenzaoshi commented on #1522
Thanks for your reply! We have two ES node on one host and we want to move one of them away, as the host load is high. I can have a try with your method, but I still do not think it's a good idea for ECK to change the origin cluster settings silently.

[2019-10-23 08:57] eedugon commented on #2037
For reference purposes, there's a valid workaround explained here:
https://discuss.elastic.co/t/new-user-cant-login-kibana/204810/2

It consists of explicitly enabling the native realm.

[2019-10-23 09:55] sebgl commented on #2044
Trying to summarize what's in the API spec:

* Kubernetes 1.11, 1.12: there's no `schema` per version of the CRD, only a top-level `validation` field
* Kubernetes 1.13, 1.14, 1.15: there's a `schema` per version of the CRD, but it's ignored unless the `CustomResourceWebhookConversion ` feature gate is enabled. There is also a top-level `validation` field. We cannot use both `validation` and `schem

[2019-10-23 10:44] sebgl commented on #2044
I tested patching our generated CRD to move `spec.versions[1].schema` to `spec.validation`, it seems to work fine. Updating the operator from 0.9 to 1.0.0 with existing v1alpha1 resources is OK. And I correctly get validation on `v1beta1` resources.
I'll prepare a PR.

Also I don't think we need to ship the trivial CRD anymore? Which means we don't ship v1alpha1 validation with our v1beta1, but wh

[2019-10-23 10:58] andy199 opened #2046 "Use filebeta to report the following certificate error, how to turn off https and use http"
2019-10-23T10:54:14.539Z    INFO    log/harvester.go:251    Harvester started for file: /var/log/containers/zok-2_kube-ops_kubernetes-zookeeper │
│ -17d9449e1e44488172e8fa37adbbbebf7db1f9d2dfa2f1f4eac4fa323d1960ef.log                                                                           │
│ 2019-10-23T10:54:14.610Z    INFO    pipeline/output.go:95    Connecting to backoff(elasticsearch(https:/

[2019-10-23 12:17] pebrc commented on #2046
See https://github.com/elastic/cloud-on-k8s/pull/2041 for an example beats setup.

[2019-10-23 12:17] #2046 closed

[2019-10-23 14:25] pebrc opened #2049 "Kibana does not support rolling upgrades"
Kibana currently does not support rolling upgrades.

The expected upgrade path for Kibana is to stop all Kibanas of the previous version, then start up the new version. We currently use a Deployment which does violate this invariant.

https://www.elastic.co/guide/en/kibana/current/upgrade.html

Running into trouble with saved object migrations is only one effect of having multiple versions of Kiba

[2019-10-23 15:10] sebgl commented on #2044
I think there might be a bug in controller-gen: https://github.com/kubernetes-sigs/controller-tools/issues/349

[2019-10-23 15:53] sebgl commented on #2026
I asked on #kubebuilder (Slack channel), it seems like we can indeed don't worry about missing deletion events: https://kubernetes.slack.com/archives/CAR30FCJZ/p1571410760147500

[2019-10-23 16:44] anyasabo commented on #2044
Trying to summarize our options from some out of band discussion, if I missed something or didn't describe it accurately please correct me.

### Leave as is

Currently our CRD includes both v1alpha1 and v1beta1 versions, but validation for neither. Users can submit whatever they want. The api server assumes all versions are interchangeable. If a beta operator receives an object that it cannot pars

[2019-10-23 20:48] uric commented on #2032
This is about moving some clusters from one type of license to another in the easiest possible way without requiring new pods to be deployed, volume claims to be swapped between pods  etc.
I chatted with Njal about it some more, this seems like a reasonable escape hatch but definitely not something I'd recommend as main path, which should be using namespaces.

[2019-10-23 21:01] tomqwu opened #2050 "APM Server Spec.config does not override the apm-server.yaml"
## Bug Report
**What did you do?**
Trying to install a quickstart app server from elasticsearchRef, I tried delete apmserver type a couple of times, still no luck

[code]
**What did you expect to see?**
I should expect to see the output config is override by config block

**What did you see instead? Under which circumstances?**
Nothing happens in the `apm-server.yaml`
[code]
**Environment**

* ECK

[2019-10-24 01:42] anyasabo commented on #2050
The config file used is in `/usr/share/apm-server/config/config-secret/apm-server.yml`, but going by the output you are probably looking in `/usr/share/apm-server/apm-server.yml`. Are you seeing issues with the actual behavior of the APM server?

I verified that file was being populated as expected by the secret and was being used by the apm server process, so I think we are good here. But feel fr

[2019-10-24 01:42] #2050 closed

[2019-10-24 09:17] #1847 closed

[2019-10-24 12:04] pebrc opened #2051 "ECK and Beats"
Current status of our work related to Beats:
- [x] We are implementing a new generic CRD for Beats in https://github.com/elastic/cloud-on-k8s/issues/3040
- [ ] ~We will build a stack monitoring CRD on top of that generic Beat support https://github.com/elastic/cloud-on-k8s/issues/2415~
- [x] We are monitoring the developments around agent and will transition to that in time

[2019-10-24 12:37] simitt commented on #1264
FYI starting with 7.5 Agent Config Management will be GA and supports backend and RUM agents.

[2019-10-24 13:24] thbkrkr opened #2052 "Flaky unit test TestExpectedPodDeletions_DeletionsSatisfied"
The unit test `TestExpectedPodDeletions_DeletionsSatisfied` is flaky since this morning.

[code]
Full logs of two failed builds:
https://devops-ci.elastic.co/job/cloud-on-k8s-pr/1915/consoleText
https://devops-ci.elastic.co/job/cloud-on-k8s-pr/1916/consoleText

[2019-10-24 15:19] simitt opened #2054 "[ECK] Investigate additional testcases for APM on ECK"
The ECK team added some basic [automated tests](https://github.com/elastic/cloud-on-k8s/tree/4514d5862fb0396c13c0684c37ce52dbe22930d1/operators/test/e2e/apm) for the APM integration. Follow up with the ECK team on additional testcases that would make sense for APM.

cc @pebrc

[2019-10-24 15:42] thbkrkr commented on #2052
Bug spotted in `ExpectedPodDeletions#DeletionsSatisfied` due to three things:
- map order iteration is random (`e.podDeletions` is a `map[types.NamespacedName]types.UID` ; that explains the flakiness)
- the method has a side-effect, it can mutate the map it is iterating (L48)
- the method should not return until the deletion of all pods has been verified and the map may have been mutated according

[2019-10-24 15:49] sebgl commented on #2052
I realize I fixed almost the same problem for expectations on the StatefulSets updates: https://github.com/elastic/cloud-on-k8s/pull/2000/commits/ded8e46c2bbaf2faa84af8ec18c5fdd66527f3c2

[2019-10-24 17:47] pebrc commented on #2049
Some implementation ideas discussed offline:

* distinguish between updates and upgrades: the former being a configuration change while staying on the same version and the latter being a version upgrade
   * for the update case we could stick with the current approach
   * for the version upgrade we would need to implement a strategy that completely halts all Kibana processes before rolling out th

[2019-10-24 18:30] pebrc commented on #2032
I think that is not suggested here. @nkvoll 's proposal would mean only one annotation to set if you want to assign a cluster to a different ECK instance:  the `managed-by` annotation on the Elasticsearch/Kibana/APM resource.

The ECK operator identifier is a startup parameter of the specified in the ECK deployment/statefulset.
* If a user sets `managed-by` on an ES cluster to some identifier that

[2019-10-24 19:54] pebrc commented on #390
We discussed this offline and consensus was that we seeing this more as nice to have rather than as a crucial bit of functionality or even a precondition for productive use of ECK.

[2019-10-24 23:00] farazmujtaba opened #2059 "Elasticsearch Monitoring"
!-- Bug report -->
## Bug Report
**What did you do?**
Deployed zone-aware ES 7.4 using V1beta1 operator API
**What did you expect to see?**
Monitoring data when "xpack.monitoring.elasticsearch.collection.enabled"is set to true
**What did you see instead? Under which circumstances?**
Kibana error "We couldn't activate monitoring"

**Environment**
Google Cloud public GKE 1.13.10-gke.0

* ECK version

[2019-10-25 06:20] #2042 closed

[2019-10-25 06:55] sebgl commented on #2032
Yes, sorry for the confusion. I meant there is one thing to specify on the Elasticsearch/APM/Kibana side of things, and another thing (that should match) on ECK side of things (whether it's an annotation, flag, label, or anything).

[2019-10-25 07:26] charith-elastic commented on #2059
I think the issue is that you have no ingest nodes in your cluster. I managed to reproduce the issue by having a cluster without any ingest nodes. Then I updated the cluster to have some ingest nodes and the monitoring data became available again.

Closing this issue for now. Please re-open if adding ingest nodes does not resolve the issue.

[2019-10-25 07:26] #2059 closed

[2019-10-25 08:19] #2052 closed

[2019-10-25 09:25] sebgl commented on #2032
Trying to summarize a discussion we had on Zoom with Njal about the concerns I mentioned above.

* About operators that concurrently reconcile the same resources:

This a corner case problem, but it can still cause unexpected behaviours (eg. set `minimum_master_nodes` to a wrong value, restart a node that was already restarted, remove a node we should not remove, etc.).
It is hard to solve within

[2019-10-25 11:54] weeco opened #2063 "Reference docs for Kibana deployment"
Hey, I am looking for reference docs to deploy Kibana. I have only found https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-kibana.html .

For instance I am currently trying to disable the need of a user/pass authentication as I use an OAuth proxy in front of it. Therefore my resource looks like this:

[code]

For some reason I end up with a basic auth, which btw apparently also causes the r

[2019-10-25 12:20] charith-elastic opened #2064 "Changes to services to support Istio"
Istio relies on all accessible ports being advertised by a service. We currently don't add the TCP port (9300) to the `<CLUSTER_NAME>-es-http` service created by the operator and this causes node discovery to fail when creating an Elasticsearch cluster containing more than one node in an Istio-enabled cluster.

Unfortunately, manually adding the TCP port to the ports list through `http.service.spe

[2019-10-25 12:38] charith-elastic opened #2065 "Disabling TLS causes redirect loop in Kibana"
When running Kibana with the self-signed certificate disabled, users can't get past the login screen as it keeps redirecting back to itself. When the self-signed certificate is enabled, everything works as expected.

This is probably a case of requiring an extra configuration setting to make this work but nothing obvious leaps out from https://www.elastic.co/guide/en/kibana/current/settings.html.

[2019-10-25 12:46] sebgl commented on #1760
The current behaviour is that users cannot set some settings through the `config:` field in the Elasticsearch spec, but can specify them using environment variable overrides.
In a way, it prevents users to shoot themselves in the foot **unless they really want it**. However, it makes the blacklist inconsistent.

I'm +1 for what @pebrc suggests: don't blacklist any setting, but document the ones EC

[2019-10-25 13:22] charith-elastic commented on #2063
Hi, setting `xpack.security.enabled` to `false` is not recommended as it prevents Kibana from being able to authenticate itself to Elasticsearch. I suspect this is why the readiness probe is failing as well. https://www.elastic.co/guide/en/kibana/current/security-settings-kb.html

You are describing a fairly specialized scenario that we haven't tested with ECK so it is difficult to provide any spe

[2019-10-25 13:55] #1916 closed

[2019-10-25 14:07] charith-elastic commented on #2064
To calrify, this might not be the root cause. I have simply observed that pausing the operator and adding 9300 to the ports list in the service results in Elasticsearch being able to discover its peers. Unpausing the operator causes the service to lose the port definition for 9300 and then Elasticsearch starts reporting discovery exceptions again.

[2019-10-25 14:47] #556 closed, assigned to thbkrkr, artemnikitin

[2019-10-25 22:31] adurai81 opened #2067 "Installing Elastic with custom image from Private registry fails"
## Bug Report
**What did you do?**
Successfully installed eck operator on Oracle Cloud Infrastructure (OCI).
Image of Elasticsearch resides in OCI registry.
Elastic installation in Invalid state.

This is how the Elastic image was sourced and stored in OCIR
[code]

**What did you expect to see?**
Elasticsearch should be up and running.

**What did you see instead? Under which circumstances?**
[cod

[2019-10-25 22:35] adurai81 commented on #2067
The describe shows this -

[code]

[2019-10-25 22:42] adurai81 commented on #2067
Once I switched to `NodeSets` definition, it went through fine.

[code]

[2019-10-25 22:43] adurai81 commented on #2067
Thanks for looking into this. I'm closing the issue.

[2019-10-25 22:43] #2067 closed

[2019-10-27 20:24] pebrc commented on #2064
One workaround until we fix this would be to manually create a service that advertises the transport port.  Something like:

[code]

[2019-10-27 21:30] pebrc commented on #2065
Did you by any chance reconfigure an existing Kibana to be non-HTTS? If so I wonder if the issue is to do with an existing session cookie with a different  Kibana encryption key https://www.elastic.co/guide/en/kibana/6.7/using-kibana-with-security.html#using-kibana-with-security in your browser.

I you don't set the encryption key explicitly I think it will be regenerated on every configuration ch

[2019-10-28 05:44] sebgl commented on #2067
If anyone else ends up here: the specification was expressed using ECK 0.9 syntax in the first post (`nodes`), instead of using the 1.0.0 syntax (`nodeSets`). Using a private registry should work as expected.

[2019-10-28 09:01] #1771 closed

[2019-10-28 10:06] thbkrkr opened #2068 "nodeSets.count set to -1 causes the operator to panic"
Even if it makes no sense, submitting to ECK an Elasticsearch cluster with a nodeSet count set to a negative value causes the operator to crash.

Steps to reproduce:

1. Deploy a _simple_ Elasticsearch cluster:
[code]

2. Add a `nodeSets` with `count` set to `-1`:
[code]

3. Contemplate how the operator crashed:
[code]

Why? We can't allocate a slice with a negative length:

https://github.com/ela

[2019-10-28 10:07] thbkrkr commented on #2068
We already check that `nodeSpecs.count` is not zero.
So, we could just check that it is greater than zero.
[code]

[2019-10-28 10:09] charith-elastic commented on #2063
API reference documentation is now available in the master branch: https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-api-reference.html

I am closing this issue since it's not a bug in the operator. Please feel free to re-open if you find anything that suggests otherwise.

[2019-10-28 10:09] #2063 closed

[2019-10-28 10:57] #2009 closed

[2019-10-28 11:02] charith-elastic commented on #2065
I can't reliably reproduce this any more after deleting all local state for `localhost:5601` from the browser. It was probably a corruption in my browser state that caused it.

[2019-10-28 11:02] #2065 closed

[2019-10-28 12:59] PaulGrandperrin opened #2069 "Follow istio's service port requirements"
Right now a service port looks like this:
[code]
but istio requires to set a name so that it can know about the protocol used on top of TCP:
https://istio.io/docs/setup/additional-setup/requirements/

so, if TLS is used, it should look like that:
[code]
or if TLS is disabled, like that:
[code]

same with the es service.

[2019-10-28 13:17] charith-elastic commented on #2069
Related to #2064

[2019-10-28 13:32] charith-elastic commented on #2064
Other things to consider:
- [Port naming](https://istio.io/docs/setup/additional-setup/requirements/)
- Not overwriting service template fields defined by the user
- Preserving user modifications to existing services

[2019-10-28 15:33] thbkrkr commented on #2049
Another idea for the version upgrade to reuse existing k8s mecanisms: set the rolling update strategy of the deployment with `MaxUnavailable` to 100% and `MaxSurge` to 0. I ran a quick test and it looks ok. All existing containers are killed before new ones are created which causes a downtime of about 30s.

[2019-10-28 16:53] anyasabo commented on #2032
What if instead of using annotations, we just allow people to specify label selectors in the operator config? So that way if people wanted they could configure their enterprise ECK operator with `labelSelector: enterprise`, and then it would only reconcile ES instances that had an `enterprise` label (for example). That seems like that would be straightforward to implement and more "native".

[2019-10-28 17:35] anyasabo commented on #2068
I'll add this as part of the webhook PR so I'm already moving around the validation stuff

[2019-10-29 06:57] david-kow opened #2074 "Document enabling licenses in ECK"
We should describe the process of enabling licenses.

[2019-10-29 07:15] masterkain commented on #1468
my elastic operator kept oom too, removed the requirements it is sitting at 188MB memory, one cluster, one node, https://www.elastic.co/guide/en/cloud-on-k8s/1.0/k8s-quickstart.html

[2019-10-29 08:15] charith-elastic opened #2075 "Handle port overrides"
The operator assumes Elasticsearch `http.port` to be 9200 and `transport.port` to be 9300 even if the user specifies different values in the `config` section. We should either add these keys to the settings blacklist or honour the settings user has defined.

One complication of dealing with user-defined values is that both `http.port` and `transport.port` allow port ranges to be defined.

This iss

[2019-10-29 08:50] charith-elastic commented on #1468
@masterkain can you provide more details about your environment? Kubernetes version, self-hosted or cloud, other workloads in the cluster, whether this is a fresh install of ECK etc.

[2019-10-29 09:47] wangycc commented on #1175
+1
It is better to let the users choose.

[2019-10-29 09:50] wangycc commented on #2063
+1

[2019-10-29 09:52] pebrc opened #2077 "ECK and ILM"
Currently we don't mange ILM actively in ECK. That means there is a potential during downscales that clusters end up with unachievable and contradictory allocation requirements. In particular if ECK decides to delete an Elasticsearch node and ILM decides to allocate all shards of a given index on that node in order to [shrink](https://www.elastic.co/guide/en/elasticsearch/reference/current/_action

[2019-10-29 10:03] sebgl commented on #2049
Is there still a risk we may run 2 different versions of Kibana at the same time? Example:
* Kibana deployment with 2 replicas
* 1 replica is down for whatever reason
* User updates Kibana version
* Second replica is recreated in the newer version while the first replica still has the old version

Maybe that's me misunderstanding the Deployment rollingUpdate though.

I see [in the docs](https://ku

[2019-10-29 10:21] david-kow commented on #1257
This is effectively blocked on https://github.com/elastic/cloud/issues/39989, since Sep 16.

[2019-10-29 11:02] ximenzaoshi opened #2079 "Can ECK support master/data structure?"
In a cluster, we have three master-only nodes, and the left are data nodes. Can ECK support this?

[2019-10-29 12:48] sebgl commented on #2079
Yes, [here](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-advanced-node-scheduling.html#k8s-define-elasticsearch-nodes-roles) is a doc snippet for a cluster with 3 dedicated master nodes.

[2019-10-29 12:48] #2079 closed

[2019-10-29 13:03] spencergilbert commented on #2064
Bizarrely I'm still having issues with the above workarounds - I'm either ending up with the nodes not discovering one-another or getting cert errors in the ES logs

[2019-10-29 13:06] charith-elastic commented on #2064
@spencergilbert Are you using the STRICT mode?

[2019-10-29 13:26] spencergilbert commented on #2064
mTLS on istio you mean? yes

[2019-10-29 13:41] david-kow opened #2081 "Shorten E2E runs"
We started hitting timeouts in AKS during E2E runs. With every added e2e test we increase e2e test duration. I'd like to discuss and make a call whether we want to do something about it. Is there any point when we are going to say, "that's too long"? As I can see it we can:
1. keep on bumping timeout whenever needed, or
2. refactor e2e tests to increase parallelism and finish all tests sooner.

I'

[2019-10-29 13:45] roncohen commented on #2051
hey @pebrc. Do you see this as a way to monitor ES/Kibana/APM Server deployed in ECK using beats - aka stack monitoring? or are you thinking of this as a way to have the operator manage beats installed across the users kubernetes cluster?

[2019-10-29 13:47] sebgl commented on #2081
+1 with doing 1) now, and working on 2) for the longer-term.

[2019-10-29 14:42] #1965 closed

[2019-10-29 16:50] exekias commented on #2051
Pinging @elastic/beats for awareness

[2019-10-29 16:52] ph commented on #2051
ping @ycombinator since you might be interested in that :)

[2019-10-29 16:58] ycombinator commented on #2051
Pinging @elastic/stack-monitoring for awareness.

Also, while I was on the Stack Monitoring team I worked on a POC of running 1 Metricbeat and 1 Filebeat per pod to monitor an Elasticsearch node running in the same pod: https://github.com/elastic/stack-monitoring-dev/pull/54. It's just a POC so definitely a very naive implementation but just thought I'd mention it as it seemed relevant to this dis

[2019-10-29 19:32] anyasabo commented on #2051
I think both. I would really like to get to a point where we can have something like [kube-prometheus](https://github.com/coreos/kube-prometheus). We have a lot of the pieces but even I have trouble putting them together.

[2019-10-29 20:02] pebrc commented on #2051
@roncohen what @anyasabo said. I think both aspects are relevant in general but this issue was meant to be mainly about deploying beats in the k8s cluster. We can split this up into two issues if we are conflating things in the discussion too much.

[2019-10-30 00:19] #2068 closed

[2019-10-30 08:04] david-kow commented on #1854
With recent fixes we got AKS e2e tests to pass (https://devops-ci.elastic.co/blue/organizations/jenkins/cloud-on-k8s-e2e-tests-aks/detail/cloud-on-k8s-e2e-tests-aks/35/pipeline/), hence closing this.

[2019-10-30 08:04] #1854 closed

[2019-10-30 08:55] #2069 closed

[2019-10-30 11:44] nkvoll opened #2086 "Tidying up Elasticsearch API surface area"
The Elasticsearch client we use today is rather deeply tangled into the codebase and directly call ES APIs in order to check for shard migration status, set allocation exclusions (for node terminations) and disable/enable allocations (for node restarts). We also use the client regularly to poll for informational purposes. In different places we consider the versions of either the ES Spec or the mi

[2019-10-30 11:44] nkvoll commented on #1016
Closing in favor of https://github.com/elastic/cloud-on-k8s/issues/2086

[2019-10-30 11:44] #1016 closed

[2019-10-30 13:31] charith-elastic commented on #2064
@spencergilbert yes, I was wondering whether you had enabled strict mTLS enforcement either during Istio installation or by creating a policy like:

[code]

Anyway, in order to get ECK 1.0.0-beta1 to work with Istio 1.3.3, I did the following:

- Enable sidecar injection for the `elastic-system` namespace and install the operator (or follow whatever other method you prefer to have the Istio sideca

[2019-10-30 17:25] a-hat opened #2087 "Elasticsearch stuck in ApplyingChanges"
## Bug Report

**What did you do?**
Added a `secureSettings` section to an existing Elasticsearch resource, as described [in the docs](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-es-secure-settings.html).

**What did you expect to see?**
The Elasticsearch pods should be configured and restarted, and the keystore should contain the new settings.

**What did you see instead? Under which

[2019-10-30 21:45] racevedoo commented on #2075
Hi @charith-elastic, I can try to take on this one. Do you have any suggestions on how to deal with port ranges?

[2019-10-30 21:53] racevedoo commented on #2005
Hey @anyasabo, I can try to take on this one. So basically we should call the `POST _ml/set_upgrade_mode?enabled=true`, and then, at the end, we call `POST _ml/set_upgrade_mode?enabled=false`.

Did I miss something?

[2019-10-30 22:07] anyasabo commented on #2005
Yep that's my understanding @racevedoo

[2019-10-31 08:31] a-hat commented on #2087
Apparently the cause of this problem is that the ES cluster had only one node. I suppose the operator always wants to keep one node running to guarantee the availability of the cluster, which is fine. But with version 0.9 of the operator, the behaviour was different if I remember correctly. The operator spawned another node with the new settings, and finally terminated the old node.

I suppose thi

[2019-10-31 08:48] charith-elastic commented on #2075
I can't think of a good reason why users would want to change this setting in a Kubernetes context. If the requirement is to change the external port through which Elasticsearch is accessed, that should be done through a Service or an Ingress. Port range makes even less sense because the application has full access to all the ports in the container and doesn't need to find a free port.

I am incli

[2019-10-31 09:15] charith-elastic commented on #1760
In either case, we have to maintain a list of reserved settings somewhere. I think we should retain the blacklist in the source code. However, instead of causing the validation check to fail, it should produce log messages (and perhaps events as well). It would help to diagnose problems quickly.

Without an automated warning system, whoever is troubleshooting the problem has to _know_ that a reser

[2019-10-31 09:22] sebgl commented on #2087
Hey @a-hat, it is intended that we now prefer rolling upgrades (replace nodes one by one) instead of grow and shrink (add a new node then remove the old one).

However, in your particular case, the single node cluster should still be upgraded, temporarily taking down your one-node cluster while the node is being recreated.

Can you share the Elasticsearch yaml manifests, and logs of the operator?

[2019-10-31 09:43] sebgl commented on #2005
This is not on easy one, we may want to discuss it further first. Some thoughts:

* Disabling ML jobs is optional. If not done, jobs will simply be spawned on another node. This might be the behaviour we want in most/some cases? I don't know enough about how ML works.
* We may want the user to configure this (should we stop ML jobs during upgrade? yes/no).
* Stopping the ML jobs is easy since we k

[2019-10-31 09:56] akaipham commented on #971
Same, any updates for 1.12 or lower?

[2019-10-31 09:59] FANLIYANG-OPS opened #2091 "Is there rollback operation for change failure ?"
Is there rollback operation for change failure

[2019-10-31 10:02] #2091 closed

[2019-10-31 10:06] FANLIYANG-OPS commented on #2091
hey @sebgl  Does this feature not exist in the current version ? ECK

[2019-10-31 10:08] sebgl commented on #2091
No, it does not exist in the current version.
As I said earlier, you can still re-apply the previous yaml manifest so ECK re-transforms your cluster to its previous configuration.

Do you have a particular use case or problem in mind?

[2019-10-31 10:14] akaipham commented on #971
Update: My kubectl client version was 1.6 so that it yields the above error. After updating to latest version (`Client Version: v1.16.0`), the problem is solved, hope it helps.

[2019-10-31 10:15] sebgl opened #2092 "Allow unsafe rolling upgrades if specified by the user"
Currently we make sure the cluster has a green health before moving on with rolling upgrades.
There are cases where the cluster cannot be green:

* because there is a single node in the cluster, and it has indices with 1 replica (default).
* because there is a problem with some shards, from which we won't recover

In these situations it could make sense to "force" the upgrade, even though it may c

[2019-10-31 10:16] sebgl commented on #2087
Exactly. ECK will refuse to perform a rolling upgrade, for safety reason, if the cluster is not green. Because it would then make your cluster unavailable while the node is being upgraded.

I suggest you either add more nodes or set `number_of_replicas` to 0?

At some point we may want to allow "unsafe" upgrades. I created https://github.com/elastic/cloud-on-k8s/issues/2092.

[2019-10-31 11:04] a-hat commented on #2087
Yes, makes perfect sense.

Does the operator output a message in the log when it cannot apply the changes to the cluster? If it does, then I missed it. This information would have been very useful.

[2019-10-31 11:04] #2087 closed

[2019-10-31 11:09] thbkrkr commented on #971
Good news :) Thanks for the update.

I checked and everything seems fine with kubectl `v1.11.10`.

[2019-10-31 11:09] #971 closed

[2019-10-31 11:13] sebgl opened #2093 "Log rolling upgrade predicates failure in INFO level"
When a rolling upgrade does not progress, we log the predicates that failed as DEBUG level. Users do not know why the operator is not making progress.

https://github.com/elastic/cloud-on-k8s/issues/2087 is an example.

[2019-10-31 11:14] sebgl commented on #2087
We log this as debug-level:

[code]

I'll create an issue to output something in INFO level.

[2019-10-31 11:54] david-kow commented on #2093
#1881 is related.

[2019-10-31 12:46] #1967 closed

[2019-10-31 13:04] sebgl opened #2096 "Kibana association E2E test is flaky"
[code]

[2019-10-31 13:07] FANLIYANG-OPS commented on #2091
Thank you. I'm developing the rollback function. I want to find some references here ; @sebelga

[2019-10-31 14:54] #1934 closed

[2019-10-31 15:20] sebgl commented on #2026
Would be nice to look deeper into how the watches are handled and what kind of guarantee we have that we do not miss an event.
Worst case scenario if we miss the deletion event: the operator uses more memory than it should, which is not super bad.

[2019-10-31 16:10] charith-elastic opened #2098 "E2E Builders are not builders"
Problem
------------

In our E2E tests we use a `Builder` to create a Kubernetes object, modify it for the scenario being tested, and then run a series of pre-defined and user-defined tests on it. Unfortunately, these Builders are not builders in the traditional sense and cause issues when attempting to write tests.

**Final state of the object depends on the order in which the methods are called

[2019-10-31 17:16] spencergilbert commented on #2064
Thanks! That looks to work perfectly!

[2019-10-31 18:05] anyasabo commented on #2092
[code]
? 😄

It seems challenging to evaluate situations where the cluster will never be green. It seems okay to not support these configurations? If it is configured with one node then indices could be configured with 0 replicas (not the default, but then neither is one node) if I understand correctly.

[2019-11-01 09:41] #2093 closed

[2019-11-01 22:43] anyasabo commented on #1769
Unassigning myself since I will be out for a while. I think an intermediate step might before working on the automatic certificate creation might be to migrate the operator to a deployment from kubebuilder v2 instead of an sset. That way we can take advantage of the kubebuilder kustomize examples rather than needing to roll our own, and we already talked about wanting to do it anyway.

We might en

[2019-11-05 10:39] antibios opened #2101 "ulimit error"
## Bug Report
**What did you do?**
I followed the quickstart guide here:
https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html

**What did you expect to see?**
I expected to see elastic search launch as a healthy pod in kubernetes.

**What did you see instead? Under which circumstances?**
[code]

**Environment**

* ECK version:

	insert version or git commit id here

* Kubernete

[2019-11-05 10:58] barkbay commented on #2101
I think you have to tune this setting at the Docker level: https://docs.docker.com/engine/reference/commandline/dockerd/#default-ulimit-settings

Maybe with something like `--default-ulimit nofile=65535:65535`

[2019-11-06 14:04] haf-afa opened #2104 "Operator: Single-node cluster never comes up after reboot"
## Bug Report
**What did you do?**

Standard operator definition; note: 1 node. The computer has rebooted multiple times (the host has...) without issues. Now it rebooted, never comes up; albeit I have added both Kibana indicies as well as triggered the trial of Kibana since the last reboots.

**What did you expect to see?**

The operator should not set up ES to be vulnerable to service IP:s chang

[2019-11-07 12:44] barkbay commented on #2101
I'm closing this issue as it does not seem related to ECK, please reopen if needed.

[2019-11-07 12:44] #2101 closed

[2019-11-07 14:44] sebgl commented on #2104
[code]

It looks like this single-node cluster was bootstrapped in the past. And, I guess, worked as expected before reboots?

Now, it seems to have restarted with, I think, an empty volume. So it does not recognise itself as an existing master node.
Is there a chance something happened with your `apm-es-data` PersistentVolume? Can you check its creation time: does it match the Elasticsearch resou

[2019-11-07 14:52] marcusbb opened #2106 "Security XPack Non-functional users: 1.0.0"
Simple quick start set up. ECK 1.0, elastic 7.4.2

Create user - I did manually through Kibana, with Kibana_user and Kibana dashboard roles.

Try to login to browser.  Failed to authenticate.

elastic.yml
[code]
NOTE that in 0.9 the security config is written as such:
[code]
**Environment**
ECK 1.0.0 + elastic 7.4.2/7.3.2

This does not occur with ECK 0.9 and elasticsearch 7.3.2

* Kubernetes info

[2019-11-07 14:54] marcusbb commented on #2106
The above 0.9 elastic.yml I added ilm and monitoring config - usually not included.

[2019-11-07 15:07] marcusbb commented on #2106
I can't disable reserved realm such as
[code]
[code]

[2019-11-07 15:27] marcusbb commented on #2106
Fixed with configuration:
[code]

[2019-11-07 15:28] #2106 closed

[2019-11-07 16:16] sebgl commented on #2106
Happy you got this working @marcusbb.
This is a bug in the last release. It will be fixed in next one.
See https://github.com/elastic/cloud-on-k8s/issues/2036#issuecomment-544838578 for a workaround.

[2019-11-07 17:37] dbwest commented on #1453
What's the status on this?

[2019-11-07 18:23] thbkrkr opened #2107 "groovy.lang.MissingPropertyException: No such property: failedTests for class: groovy.lang.Binding"
Jobs [`cloud-on-k8s-stack`](https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-stack/) and [`cloud-on-k8s-versions-gke`](https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-versions-gke/) seems broken since #1998 due to:
[code]

[2019-11-08 09:59] haf-afa commented on #2104
Indeed, yes

I don't know much about PersistentVolumes on Docker for Windows, but I guess it may be possible to loose an existing volume on host restart.

Interesting. I didn't know this could happen. I'm afraid that after collecting the above logs and debug data just reset everything to get on with work; so it's probably just a datapoint for you to be aware of. If it happens again, I can collect

[2019-11-08 10:00] haf-afa commented on #2104
Also, I noted that the reclaim policy of the PV created by the operator is Delete; shouldn't it be Retain?

[2019-11-09 13:35] sebgl commented on #2104
The reclaim policy applied to a PV depends on the storage class use by the corresponding PVC.
In your example you don't specify any particular storageClass in the `volumeClaimTemplates` section. The storage class marked as "default" in your cluster is being used: it probably has the reclaim policy set to Delete.

ECK does not create nor modify anything related to storage classes. You can either:
*

[2019-11-11 08:34] tapih opened #2108 "Elasticsearch pod cannot be created when using with PSP"
## Bug Report
**What did you do?**

I deployed ECK 1.0.0-beta1 with PSP which configures `readOnlyRootFilesystem: true`, and found that the pod creation failed, though ECK 0.9.0 works with the same PSP.

**What did you expect to see?**

ECK 1.0.0-beta1 can be deployed successfully with the PSP in the "Resource definition" section.

**What did you see instead? Under which circumstances?**

The pod

[2019-11-11 08:46] pebrc commented on #2108
I suspect this is due to `readOnlyRootFilesystem: true` and the ECK init container trying to make changes to the filesystem while symlinking configuration from `/mnt/elastic-internal` (not verified)

[2019-11-11 18:31] pebrc opened #2109 "API doc generation fails when project not in GOPATH"
If the project is not checked out in `GOPATH` the api doc generation step fails with
[code]

After discussing with @charith-elastic it seems that

[2019-11-12 02:18] tapih commented on #2108
Yes.

In short, my goal is to launch ECK 1.0.0-beta1 under `readOnlyRootFilesystem: true`.
I suppose that `readOnlyRootFilesystem: true` is widely accepted to keep a k8s cluster secure.

Is there any workaround?

[2019-11-12 08:19] charith-elastic commented on #2109
Even when the generator works outside the `GOPATH`, links to certain types are lost. This is probably because the `gengo` library is not module-aware.

[code]

[2019-11-12 08:39] barkbay commented on #1643
So it means that we should be more lenient when dealing with Pod restarts if the cluster is in a yellow status.
Maybe we should allow a Pod restart even if the managed cluster is in a yellow state under the condition that restarting a Pod does not make an index unavailable (with the exception of index with no replicas)

[2019-11-12 10:16] barkbay commented on #2077
I'm not sure that there is a reliable way to know if the ILM lifecycle is in error _(for this particular step)_ because of the operator or for an other reason: error may happen right before ECK sets routing settings to `null`. Thus I'm not sure that there is a real benefit to maintain a persistent state: we could assume that resetting ILM for every indices in error within the `check-shrink-allocat

[2019-11-12 10:48] barkbay commented on #1853
Closing as this particular error has not occurred recently. Feel free to reopen if I'm mistaken.

[2019-11-12 10:48] #1853 closed

[2019-11-12 14:12] pebrc commented on #2002
As they don't map to any ECS fields they would just stay in their original form.

[2019-11-12 22:09] pebrc commented on #728
Users can use the file realm today from ECK with some restrictions, most notably there is no way to define new roles in `roles.yaml` at the moment. What is possible is to define a custom user using built-in roles.

In order to do that one needs to create a secret of the following form:
[code]

When generating the Bcrypt hash it is important to use a bcrypt version that produces `$2a$` hashes and n

[2019-11-13 16:09] thbkrkr opened #2113 "Kibana ghosts in monitoring"
Any recreation of a Kibana pod creates a new Kibana instance that can disrupt the monitoring view a bit.

Steps to reproduce:
- Deploy 1 ES+Kibana
<details>
   <summary>YAML manifest</summary>

[code]
</details>

- Turn on monitoring (https://${KB_IP}:5601/app/monitoring)
- Kill the pod or update the config (to force a pod recreation)
- Go back to see the monitoring again (https://${KB_IP}:5601/ap

[2019-11-14 06:04] booboothefool opened #2115 "Unable to run more than 1 node"
## Bug Report
**What did you do?**
I started off with 1 Elasticsearch node. I changed my yaml count from 1 to 3 because I wanted to add more.

**What did you expect to see?**
3 nodes, all recognized as part of the cluster, and a healthy green status.

**What did you see instead? Under which circumstances?**
2 nodes, 1 doesn't seem to be recognized, and a yellow status.
A 2nd pod came up but not th

[2019-11-14 08:41] #1156 closed

[2019-11-14 10:20] pebrc opened #2117 "Move CRD API versions to v1 for 1.0.0"
Once we release 1.0.0 but still having a `v1beta1` API version might be sending confusing messages. Therefore we should move all our CRDs to `v1`.

Depends on #479 for the API conversion (if we introduce any API changes compared to `v1beta1`)

[2019-11-14 10:48] thbkrkr commented on #2115
Can you run the [diagnostic script](../tree/master/hack/eck-dump.sh) (`eck-dump.sh -z -o dump`) and upload the `dump-.*.tgz` archive [here](https://upload.elastic.co/u/1d2fe453-05b3-429a-961d-63610c83d4a2) please?

[2019-11-14 10:55] thbkrkr commented on #2104
Yes, please.

I'm closing this issue as it does not seem related to ECK but more to PersistentVolumes on Docker for Windows, please reopen if needed.

[2019-11-14 10:55] #2104 closed

[2019-11-14 14:24] ledroide opened #2118 "Ingress rule for Kibana webUI gives http code 502 (bad gateway)"
Hi,
I am unable to make an ingress rule that matches the Kibana service.

Here is the running kibana service :
[code]

The kibana service works fine in port-forwarding, from any port, say 8080, to port 5601 - using `kubectl port-forward svc/kibana-kb-http 8080:5601` (`Forwarding from 127.0.0.1:8080 -> 5601`), and kibana's pod logs look good:
[code]

So I wanted to create a simple ingress rule, lik

[2019-11-14 15:06] otrosien commented on #357
For big clusters you typically start running into timeouts on the API server for operations like trying to list all pods. (We've had this ;)

[2019-11-14 15:10] charith-elastic commented on #2098
Related to #2064 as it is not possible to run E2E tests against Istio without this refactoring.

[2019-11-14 15:10] #2064 closed

[2019-11-14 16:00] sebgl commented on #2044
We discussed this on Zoom and agreed on removing v1alpha1 (@anyasabo's approach) since that what we want to do for the next release anyway.
I'm closing https://github.com/elastic/cloud-on-k8s/pull/2047 now. We can revive it if we have some problems when introducing verson `v1`: any difference with the current `v1beta1` would lead to the same problem expressed by this issue.
I'll keep on working on

[2019-11-14 17:41] thbkrkr commented on #2115
Kibana does not come up because Elastisearch is not ready.

The ECK operator is stuck in the `ApplyingChange` phase. It does not proceed to create the third Elasticsearch node because the second Elasticsearch node is not reachable.

Operator log:
[code]

We need to figure out why the second ES node is not ready?

ES log:
[code]
Node discovery often fails because of a network issue.
In your case, y

[2019-11-14 21:56] booboothefool commented on #2115
Yep, Istio was totally it. I should've known considering it's caused me so many other problems. I tried it on a namespace with Istio disabled and the 3 nodes came right up with no issues at all. I also tried the adapted config with Istio and that also worked. I really appreciate the help. Thank you!

[2019-11-14 21:56] #2115 closed

[2019-11-15 11:04] thbkrkr commented on #2118
Hello,

Your first attempt with the simple rule and disabling tls should be ok.

Here is what works for me on GKE.

- Deploy the ingress-controller:
[code]

- Deploy Elasticsearch, Kibana and an Ingress:
[code]

- Configure my DNS to map the ingress IP with the host declared in the ingress rule:
[code]

Note: with multiple Kibana instances, the ingress must have the `nginx.ingress.kubernetes.io/af

[2019-11-15 11:28] pebrc opened #2121 "Document license management"
Currently all licensing functionality is undocumented. We should have documentation that covers:
* default license of ECK
* how to enable trial mode
* what the limitations of trial mode are (30 days, non-repeatable)
* how to install an enterprise license

[2019-11-15 12:19] ledroide commented on #2118
You are right : that works the way you recommend it, now.
I suggest this trick to be documented in the [cloud-on-k8s](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html#k8s-deploy-kibana) page.

Solved. Thank you very much Thibault.

[2019-11-15 12:19] #2118 closed

[2019-11-15 12:56] #2107 closed

[2019-11-15 13:28] pebrc commented on #2074
Duplicate of #2121

[2019-11-15 13:28] #2074 closed

[2019-11-15 13:41] thbkrkr commented on #2108
Unfortunately I do not see an easy workaround.

It may be achievable by preparing a custom Elasticsearch image with all the configuration already ready inside.

The `elastic-internal-init-filesystem` init container is used to prepare several configuration files.

You can review its code [here](https://github.com/elastic/cloud-on-k8s/blob/3731fa5af7d6efbf5c0caf97c44206e041a56ef0/pkg/controller/elas

[2019-11-15 13:50] thbkrkr commented on #2108
I forgot one important comment.

It is very surprising that it works with `eck-0.9.0` because the `elastic-internal-init-filesystem` init container was already present and did not change much between `1.0.0-beta1` and `0.9.0`.

[code]

[code]

[2019-11-15 17:24] thbkrkr opened #2122 "Kibana init container image is not set by default"
The custom Kibana init containers do not have a default image.

[code]

#### Manifest to reproduce the error:
[code]

#### What is wrong?

The init containers for Kibana inherit from the default settings only if the keystore is used.

https://github.com/elastic/cloud-on-k8s/blob/3731fa5af7d6efbf5c0caf97c44206e041a56ef0/pkg/controller/kibana/pod/pod.go#L68-L84

[2019-11-15 19:57] thbkrkr commented on #2122
I just realized that we do not support the installation of plugins with init containers.

[2019-11-15 20:04] thbkrkr opened #2123 "Support init container to install Kibana plugins"
We already support installing plugins for Elasticsearch with init containers.

Should we do the same for Kibana?

[2019-11-18 15:41] aceeric opened #2129 "ECK from internal registry"
We are using ECK 0.9.0. Our container images are all hosted in an internal RedHat registry, in image streams, in a specific namespace. I would like to be able to specify - in the ECK CSV - the image source for the elasticsearch deployment.

Currently, I *can* specify the operator image as follows:
[code]
I would also like to be able to specify the ES deployment image. Compare Grafana, where the Gr

[2019-11-18 15:59] thbkrkr commented on #2129
Hi,

You can specify a custom image using the `spec.image` field. Note: you still have to set the `spec.version`.

Example:
[code]
Documentation: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-custom-images.html

[2019-11-18 15:59] #2129 closed

[2019-11-19 05:41] zoetrope commented on #2108
With ECK-0.9.0 a policy for elastic-operator was applied to an elasticsearch-pod because the elasticsearch-pod was created by elastic-operator.
However, with ECK-1.0.0 a elasticsearch-pod is created by a statefulset so that a default policy will be applied to the elasticsearch-pod.
The applied policy differs between ECK 0.9.0 and 1.0.0.

ref. https://kubernetes.io/docs/concepts/policy/pod-security

[2019-11-19 10:45] pebrc commented on #2123
One thing to keep in mind when introducing support for this is that Kibana does an `optimize` run after removing plugins https://www.elastic.co/guide/en/kibana/current/update-remove-plugin.html which leads to a spike in resource usage and can prevent a Kibana instance from starting up if users run it with tight resource limits/requests

[2019-11-19 11:05] simonwh opened #2130 "Nodes scheduled on same hosts, not respecting affinity rules"
## Bug Report
I created an elasticsearch cluster with anti-affinity rules based on `kubernetes.io/hostname`. At first scheduling, 3 nodes were correctly scheduled on 3 separate kubernetes host/nodes.

After changing resource request limits and `ES_JAVA_OPTS` and reapplying the yaml, 2/3 nodes were suddenly scheduled on the same host.

**What did you expect to see?**

I expected cluster to keep adh

[2019-11-19 12:31] thbkrkr commented on #2123
Good point. This seems to be a good reason to promote the use of a Kibana custom image rather than the use of init containers to install plugins. I think that is still relevant but with a low priority.

[2019-11-19 13:14] barkbay commented on #2130
`requiredDuringSchedulingIgnoredDuringExecution` and `preferredDuringSchedulingIgnoredDuringExecution` are not interchangeable.

I think this is the correct syntax for what you want to achieve:

[code]

[2019-11-19 13:20] barkbay commented on #2130
Also `preferredDuringSchedulingIgnoredDuringExecution` [gives you no guarantee on where the `Pods` are allocated](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#node-affinity):

[2019-11-19 13:23] barkbay commented on #2130
I'm closing this issue, feel free to reopen if needed.

[2019-11-19 13:23] #2130 closed

[2019-11-19 13:55] pebrc opened #2131 "Enterprise license does not propagate to existing clusters"
Adding an enterprise license to an ECK installation should result in license upgrades for all existing managed Elasticsearch clusters.

Observed: the cluster level licenses are not upgraded immediately but only on the next change of the corresponding Elasticsearch CRD (or after the regular 10h reconciliation refresh in controller-runtime)

Expected: 10h is maybe a bit long for the license upgrade

[2019-11-19 14:11] simonwh commented on #2130
As stated in the issue, I've tried with `requiredDuringSchedulingIgnoredDuringExecution` (see yaml) which according the the docs:

(https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-advanced-node-scheduling.html)

[2019-11-19 15:18] pebrc opened #2132 "AKS e2e test are failing consistently"
The last 11 runs have failed. Not sure if we have any additional diagnostic data on AKS

[code]

[2019-11-19 15:26] pebrc opened #2133 "Stack versions e2e test failing since Oct 14th"
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-stack/

[2019-11-19 15:28] pebrc opened #2134 "k8s versions e2e test are failing since Oct 15th"
https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-versions-gke/

[2019-11-19 15:31] pebrc commented on #1096
As far as I can see this has never run sucessfully.

[2019-11-19 15:36] ransoor2 commented on #2037
I did the workaround. Now I'm able to log in, but I get "Error in visualization [esaggs] > Internal Server Error" when trying to access Kibana dashboards.
Elastic version 7.4.2
![elastic](https://user-images.githubusercontent.com/38324610/69161026-2c03d200-0af3-11ea-8056-5bca491f40e8.PNG)

[2019-11-19 16:09] #2121 closed

[2019-11-19 16:10] #2017 closed

[2019-11-19 21:18] psalaberria002 opened #2136 "Certmanager Let's Encrypt certificates not working in 1.0.0beta"
## Bug Report
**What did you do?**
I upgraded from 0.9 to 1.0.0beta, and a custom TLS certificate stopped working due to a new feature added in https://github.com/elastic/cloud-on-k8s/pull/1742 (related to ca.crt).

**What did you expect to see?**
Certificate should be loaded without issues by ES.

**What did you see instead? Under which circumstances?**
ES could not parse the certificate at boot.

[2019-11-19 22:58] anyasabo commented on #2130
@simonwh were you able to get it sorted? I saw a notification of a response from you and was attempting to repro it, but looks like it was deleted. For what it's worth I was able to get it to work, but did notice that if the syntax was incorrect it still lets you create it but does not add the correct anti affinity term to the underlying sset (in the beta version at least). This is likely due to a

[2019-11-20 00:59] anyasabo commented on #2113
can you clarify what you mean by this?

[2019-11-20 10:01] thbkrkr commented on #2113
It is important to understand that what is displayed in the monitoring view depends on the time.

If you restart the pod at 10:30, you should set the date picker to start after 10:30.
If it's 10:55, "Last 30 minutes" will show the old instance but not "Last 15 minutes".

[2019-11-20 10:29] david-kow opened #2138 "Generic requeue result is ineffective"
Due to the fact that:
1. we return specific requeue result for CA expiry, and
2. `results.Aggregate()` prefers specific result to a generic one (even if it's far in the future)

the generic requeue results are ineffective.  We use them in case of conflicts for status updates and finalizers.

It seems we need to always specify `RequeueAfter`.

[2019-11-20 10:53] barkbay commented on #2136
Yes you're right, even if `ca.crt` is empty the operator still considers that a certificate authority is provided.
I'm working on a workaround and a fix. Please could you tell me what is the content of the `tls.crt` field in the secret ? Is it just one certificate or a chain ?

[2019-11-20 10:58] david-kow opened #2139 "Kibana and APM resources should have Phase column"
This is an inconsistency between ES, Kibana and APM resources today. Phase should indicate the status of the configuration change currently happening as it does for ES. Compare ES:
[code]
with Kibana:
[code]

[2019-11-20 11:40] psalaberria002 commented on #2136
It's two certificates.

[2019-11-20 13:45] thbkrkr opened #2141 "cloud-on-k8s-nightly is failing"
I broke the job with #1908 (by updating the way we manage the addition of the `push.` prefix to release the operator Docker image),
attempted to fix it with #2135 (by propagating the `REGISTRY` env var),
but it is still broken.

[code]

[2019-11-20 14:21] #2136 closed

[2019-11-20 14:31] pebrc commented on #1760
Log messages and events seems like the best we can do for now. Ideally we would have a way of expressing warnings through API server validations but I think this is not supported at the moment (either pass or fail there is no warning mode)

[2019-11-20 15:59] barkbay opened #2142 "Update webhook documentation"
Following up #2126 we should:
* add some documentation to explain how the webhook and the certificates are managed by default
* update https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-operator-config.html

[2019-11-20 16:08] pebrc opened #2143 "Add documentation around beats recipe"
* update the beats recipe to not use a super user if possible (might be tricky due to lack of #728)
* write a short section for the documentation explaining the setup, specifically
   *  how to connect beats to an ECK managed Elasticsearch cluster
   * how to deploy beats in the same namespace as the its corresponding output cluster to be able to mount certificates directly into the beats pods

[2019-11-21 09:00] pebrc commented on #1927
I this would work too, without resorting to python, to find out which IPs are currently in the services DNS record
[code]

[2019-11-21 11:45] pebrc opened #2146 "Downgrade to basic if user deletes license secret"
Should we revert all managed clusters to a basic license if a user decides to delete the license secret from the ECK installation.

Currently we do nothing which means clusters stay on a platinum/enterprise license until that license reaches its expiry date, at which point the clusters go into degraded mode.

We could instead, as soon as the license secret is deleted [revert to basic](https://www.

[2019-11-21 13:14] barkbay opened #2147 "[e2e] Global operator is crashing"
[code]

This is because the webhook is not created during the e2e setup:

[code]

This is the reason of the failure of the following test:

[code]

[2019-11-21 13:25] thbkrkr commented on #2146
+1!

There is also the case where the license secret was created to enable the **trial** license
and deleting the license secret would also be the way to revert from trial to basic.

IMHO this seems pretty natural:
- default state is the basic license
- create the secret to enable a trial/entreprise license
- delete the secret to revert the license to basic

[2019-11-21 14:05] #2147 closed

[2019-11-21 14:41] ftyuuu opened #2149 "Want to confirm, the current default configuration is to set memory locking to false?"
Like title, How does eck handle memory locking?

[2019-11-21 14:56] barkbay commented on #2149
I guess you are making reference to [this Elasticsearch feature](https://www.elastic.co/guide/en/elasticsearch/reference/current/setup-configuration-memory.html#bootstrap-memory_lock). ECK does not change this setting, you can set it [following this documentation](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-node-configuration.html)

That said IIRC Kubelet fails to start if swap is ena

[2019-11-21 14:56] #2149 closed

[2019-11-21 15:15] ftyuuu commented on #2149
@barkbay thanks!!!

[2019-11-21 15:47] barkbay opened #2150 "[e2e] InvalidImageName"
Some of our e2e tests are failing because of this:

[code]

[code]

[2019-11-21 15:48] #2131 closed

[2019-11-21 16:01] pebrc commented on #2150
I assume the is problem that something is inserting zero-width spaces U+200b into the image name?

[2019-11-21 16:38] anyasabo opened #2153 "Ensure e2e tests utilize webhook"
Currently we set the webhook failurepolicy in the e2e tests to ignore failures, which allows tests to go through but means we may not be exercising the webhook even when we want to. We should change the failure policy to Fail to ensure that we are actually using the webhook.

Currently it looks like we start running tests before the operator has had a chance to actually start, so e2e tests fail. I

[2019-11-21 16:55] charith-elastic opened #2154 "Create scale testing harness"
To facilitate scale testing of ECK, we require the following:
- an instrumented cluster
- mechanism to create a large number of ECK resources and monitor them

Related to #357

[2019-11-21 16:56] charith-elastic commented on #2154
Initial prototype is here: https://github.com/elastic/eck-utils

[2019-11-21 17:07] david-kow commented on #2141
Confirmed it's the right fix, but still need to fix the same issue (double quotes) in other jenkinsfiles, hence keeping this open.

[2019-11-21 18:24] sebgl commented on #2037
@ransoor2 this looks unrelated to the native realm issue. Please check both Kibana and Elasticsearch logs and create a new issue or [discuss topic](https://discuss.elastic.co/c/eckhttps://discuss.elastic.co/c/eck) where appropriate.

[2019-11-21 20:04] anyasabo opened #2155 "Consider Kibana resource watcher"
We should consider creating a watcher tool for Kibana, that can watch config maps (or some other type of resource) and automatically import them into Kibana. This would let users have the same set of Kibana resources across environments, and allow for easy distribution (say, we could supply some default dashboards to observe the operator's metrics). My thinking is to initially support Kibana dashb

[2019-11-21 20:30] anyasabo opened #2156 "Document scale up/out/down behavior"
We should document the options and behavior for scaling node sets up, down, and out. Some questions we might want to address:
* Can I increase the size of disks of existing node sets?
* Can I add more nodes to a node set? What happens?
* Are there safety mechanisms to keep me from downscaling "too far"? What is the behavior?

[2019-11-21 20:57] wescran commented on #1453
Would also like to know the status on this. Would be great to have.

[2019-11-22 06:17] mtparet commented on #2155
It looks like CRDs ! :)

[2019-11-22 06:24] mtparet opened #2157 "Be able to configure index settings / ILM with CRD"
## Proposal

Be able to configure ILM (and generally index settings) through a CRD.

**Why is it so important?**

This makes possible to natively industrialize (reducing a lot the cost of creating new clusters) creating ElasticSearch cluster ready for typical use cases with the right configuration.

Also it enables gitops for what is possible to do with these new CRDs.

[2019-11-22 10:01] david-kow commented on #2154
This looks nice! I didn't look super closely yet, but I have two questions:
1. > The eck-harness utility creates copies of ECK resources until no more healthy instances can be created.

Are you thinking about adding other scenario types? I might be wrong, but my feeling is that this will be always constrained on cluster resources and not on operator itself since (IIUC) operator will provision, the

[2019-11-22 11:39] charith-elastic commented on #2154
1. This is the foundational step and my intention is to establish a simple baseline for further tests. I have other scenarios in mind (eg. chaos testing) that might require a future refactoring to accommodate.
Since we are working on top of Kubernetes, the ceiling is well defined by the limitations of Kubernetes itself. Even if we could do better, it wouldn't make much sense. The idea here is to h

[2019-11-22 12:51] david-kow commented on #2154
I appreciate Terraform's long list of features, nevertheless I think we should default to a single solution for doing the same thing, if possible.

Regarding 1., I was referring to something else :) but I think we are on the same page with further testing, so :+1:

[2019-11-22 12:55] barkbay opened #2159 "[e2e] TestEnterpriseLicenseSingle is failing"
License is not reconciled:

[code]

[code]

My feeling _(but I have no proof)_ is that the public key is not correctly set in the binary of the operator.

[2019-11-22 13:58] charith-elastic commented on #2154
The point I was trying to make was that adapting the deployer to this use case would have required a lot more additional work and ultimately resulted in a poor approximation of Terraform that we would have to keep on maintaining ourselves indefinitely. It wasn't an indictment of the deployer -- which is quite adequate for the relatively static use case of creating E2E test clusters.  Apologies if

[2019-11-22 15:07] sebgl opened #2161 "Document how to create your own services targeting a subset of the ES nodes"
Common use cases:

- a dedicated service for ingest nodes (only)
- a service that does not include master nodes
- a service that spans over multiple nodeSets

It's pretty easy for the user to create their own services according to their needs, and pretty hard for us to come up with additional default services on top of the one we create targeting all pods.

Let's document how to do it.

[2019-11-23 04:04] andreykaipov commented on #2157
I actually spoke with @sebgl during Kubecon about the possibility of this feature. It's crazy you had the same thought around the same time! Our use case would definitely fall under the ability to do GitOps, e.g. maintaining a set of ILM CRDs that our pipelines can deploy to K8s, resolved by this operator.

[2019-11-23 07:42] pebrc commented on #2159
@barkbay yes I think you are right, the error message is consistent with that.

[2019-11-23 10:35] #2159 closed

[2019-11-23 21:30] simonwh commented on #2130
Hi @anyasabo, thanks for your response. You are right, I did write a message, but quickly after realized the Elasticsearch resource was reporting some yaml errors that I didn't notice. It worked with the correct syntax:

[code]

[2019-11-25 08:35] sebgl commented on #2157
A few thoughts:

* We should investigate whether this should be a stack (Elasticsearch) feature instead of an ECK feature.
* In general we want to avoid having multiple ways of doing things: ILM is a good example of a feature already available through the Elasticsearch API that we may not want to reimplement.
* ECK would probably reconcile/apply the ILM settings forever. If the user then patches t

[2019-11-25 09:03] ftyuuu commented on #1701
hang here? what should i do?
[code]

[2019-11-25 09:14] ftyuuu commented on #1701
i delete resource‘s namespace forcibly, and then

[code]
[code]
what should i do to delete these cr and crd?

[2019-11-25 09:29] ftyuuu commented on #1701
Finally, i solve this problem according to https://github.com/kubernetes/kubernetes/issues/60538

[2019-11-25 10:00] barkbay commented on #2150
This one seems to be resolved.

[2019-11-25 10:00] #2150 closed

[2019-11-25 10:42] pebrc commented on #2157
Related #2155

[2019-11-25 12:25] ftyuuu opened #2169 "waiting for the transport certificates (/mnt/elastic-internal/transport-certificates/elasticsearch-sample-es-default-0.tls.key)"
I want to debug es, so i commented on the following code in cmd/manager/main.go. But pod stop at init container (elastic-internal-init-filesystem).

[code]
Logs:

[code]

what should i do?

[2019-11-25 13:25] pebrc opened #2170 "Create OpenShift 4.x e2e testing environment"
We need an automated OpenShift 4.x environment to run our e2e tests on. The idea is to integrate the OpenShift installer with our existing deployer tooling to stand up an Openshift installation
* we need to be able to create and teardown these environments from Jenkins
* we would like to be able to do the same from a local machine for debugging and development purposes

[2019-11-25 13:27] #1760 closed

[2019-11-25 14:02] thbkrkr commented on #2170
Looks like [Red Hat CodeReady Containers](https://developers.redhat.com/products/codeready-containers) might be an option to achieve that.

[2019-11-25 14:17] barkbay commented on #2170
CodeReady is mostly for development:

I think that for e2e tests we need something more closed to what is done in production.

[2019-11-25 14:47] charith-elastic opened #2172 "Consider reducing the number of secrets created per cluster"
Creating an Elasticsearch cluster with the default settings results in 10 secrets being created.

- `<CLUSTER>-es-<NODE_POOL>-es-config`
- `<CLUSTER>-es-elastic-user`
- `<CLUSTER>-es-http-ca-internal`
- `<CLUSTER>-es-http-certs-internal`
- `<CLUSTER>-es-http-certs-public`
- `<CLUSTER>-es-internal-users`
- `<CLUSTER>-es-transport-ca-internal`
- `<CLUSTER>-es-transport-certificates`
- `<CLUSTER>-es-

[2019-11-25 17:14] #2044 closed

[2019-11-25 21:08] pebrc commented on #2146
Notes from discussions offline:

* check if removing the license can lead to bootlooping clusters
* kubectl: delete and create to update secret might have undesirable effects on the cluster (ie disruption of service, temporary unavailability of features)
* suggestion: only delete after a timeout of for example 15 minutes (in memory)

[2019-11-26 09:03] charith-elastic opened #2173 "Baseline ECK scale tests"
Part of #357

The goal is to avoid scale testing Kubernetes itself as the operator will always be bound by the limits of the underlying Kubernetes distribution. Instead, the plan is to observe the behaviour of a typical operator deployment when it is under pressure and gain an understanding of the bottlenecks and breaking points.

These baseline tests will run the operator using a reasonable set o

[2019-11-26 09:05] #2154 closed

[2019-11-26 09:10] sebgl commented on #2169
@ftyuuu the operator provides certificates to pods through a secret. If you disable it, the Pod's init container will wait for the certificates to be there.

If you want to temporarily disable reconciliations on your Elasticsearch cluster, I suggest you keep the operator running but set an annotation on the Elasticsearch resource: see the [troubleshooting docs](https://www.elastic.co/guide/en/clou

[2019-11-26 09:10] sebgl commented on #2169
Closing for now, please reopen if needed @ftyuuu.

[2019-11-26 09:10] #2169 closed

[2019-11-26 11:13] david-kow opened #2174 "Refactor watch goroutines in E2E to use test.Watcher"

[2019-11-26 11:52] ftyuuu commented on #2169
I want to debug eck in goland, is my configuration correct？
![image](https://user-images.githubusercontent.com/31174346/69627643-0132f400-1086-11ea-9796-e9d4920fb8fd.png)

[2019-11-26 12:16] xkobal opened #2175 "Impossible to annotate Kibana Service"
## Bug Report
**What did you do?**
I want to configure Google IAP (https://cloud.google.com/iap/docs/enabling-kubernetes-howto) to secure my Kibana installation and be able to open it on Internet without risk.
I need to add a BackendConfig to enable IAP, but the Kibana Service controller seems to ignore my annotations *if they are added to an existing Kibana resource* (@pebrc).

**What did you exp

[2019-11-26 12:57] pebrc commented on #2175
@xkobal I tried with the exact same client version you were using and cannot reproduce your problem the annotation is added to the service as expected. Can you share some more details about your setup maybe?

[2019-11-26 13:03] JamesIsHuang opened #2176 "How should I debug the code"
I and my colleague want to add some code on cloud-on-k8s, but we don't understand how to debug code, and not search any useful info.

[2019-11-26 13:19] pebrc commented on #2175
@xkobal I have not been able to reproduce your issue. I used the same client version and ECK `1.0.0-beta1` and the annotations are set as expected.

[2019-11-26 13:20] barkbay commented on #2176
I would advise you to have a look at the [go-run](https://github.com/elastic/cloud-on-k8s/blob/master/Makefile#L153-L165) target in the [Makefile](https://github.com/elastic/cloud-on-k8s/blob/master/Makefile)

I think that from that point you can create some run/debug configurations for your favorite IDE.

[dev-setup.md](https://github.com/elastic/cloud-on-k8s/blob/master/dev-setup.md) may also gi

[2019-11-26 13:21] xkobal commented on #2175
@pebrc The service was already exists without annotation, that was an update made with `kubectl apply -f .` Can it come from that ?

[2019-11-26 13:33] xkobal commented on #2175
How can I remove Kibana Service to test without updating ? (and without destroying my ES cluster)

[2019-11-26 13:37] xkobal commented on #2175
Ok @pebrc I have found how delete Kibana. So I can confirm you it works when no previous Kibana service exists. But update doesn't work.

[2019-11-26 15:07] pebrc commented on #2175
Yes you are right. There is an issue with the update detection code here that does ignore metadata changes.

https://github.com/elastic/cloud-on-k8s/blob/e888a3798b1e858f0130e3e4af21b5b525808257/pkg/controller/common/service_control.go#L45-L81

[2019-11-26 15:19] pebrc commented on #2176
@JamesIsHuang thanks for your interest in ECK. Please use https://discuss.elastic.co/c/eck for questions like this and let's reserve Github for bug reports and feature requests.

[2019-11-26 15:19] #2176 closed

[2019-11-26 15:29] xkobal commented on #2175
Thanks for your help. It works for now with Kibana deletion.

[2019-11-26 15:46] sebgl commented on #2169
@ftyuuu see https://github.com/elastic/cloud-on-k8s/issues/2176

[2019-11-26 17:59] thbkrkr commented on #2134
TL;DR I did not find the root cause but I think I spotted something strange.

I picked one build that produced a dump and was not related to an endpoint not yet removed (#1927): https://devops-ci.elastic.co/blue/organizations/jenkins/cloud-on-k8s-versions-gke/detail/cloud-on-k8s-versions-gke/129/pipeline.

The failure of this build was produced in the `TestUpdateESSecureSettings` test due because

[2019-11-26 18:45] pebrc opened #2177 "Elasticsearch support for _FILE environment variables breaks ECK readiness proble"
https://github.com/elastic/elasticsearch/pull/47573

Introduces support for `_FILE` environment variables but also introduces strict permission checks on the files. ECK uses `PROBE_PASSWORD_FILE` for the Elasticsearch readiness probe and fails subsequently the permissions check.

Either rename the variable (because we don't want to the expose this to Elasticsearch) or fix the permissions.

See als

[2019-11-27 07:28] ftyuuu commented on #2169
thanks! Finally, after add -ldflags to go tool arguments, it works.

[2019-11-27 07:58] zhanghba commented on #2118
@ledroide
how to access kibana with outsite network.

[2019-11-27 08:23] ledroide commented on #2118
@zhanghba : The way @thbkrkr recommends it works for me :
* disable selfSignedCertificate in your Kibana manifest
* set an Ingress rule that redirects a public FQDN to the path / of your kibana service name and port (depending on how you named it).

If you don't succeed, I can give you my whole Kibana configuration in a gist/snippet.

[2019-11-27 08:54] charith-elastic opened #2178 "Deleting a pod prevents the Elasticsearch cluster from coming up again"
The operator was managing several single-node Elasticsearch clusters with `emptyDir` storage. When a pod belonging to a random (previously healthy) cluster was deleted, it got recreated as expected but failed to become healthy again:

[code]

The reconciliation loop for the resource fails -- potentially because the master cannot be accessed to set voting exclusions:

[code]

Manifest:

[code]

[2019-11-27 09:05] barkbay commented on #2178
I think it reminds me a discussion we had about emptyDir. In this case I guess that if the Pod is deleted the cluster state is lost while the cluster is considered as already bootstrapped by the operator. Hence master election will never happen.

I don't know if we really want to support that case.

[2019-11-27 09:47] thbkrkr commented on #2118
If it's only about making Kibana accessible from the public Internet, using an ingress is not mandatory, you can also just declare the `http.service.spec.type` as `LoadBalancer`.

[code]

Documentation: https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-accessing-elastic-services.html#k8s-allow-public-access.

[2019-11-27 10:02] zhanghba commented on #2118
@ledroide @thbkrkr
use ingress successful. on k8s cluster , and through nginx to access the kibana on outside network. Many thanks.

[2019-11-27 10:08] sebgl commented on #2178
I think this is not a bug, but the behaviour we (at least I) would expect.

Single node cluster + emptyDir = potential data loss if the Elasticsearch node dies.
When that happens, we don't want the cluster to be recreated entirely with data loss without the user noticing. The cluster *is* broken, and should not become healthy IMHO.

[2019-11-27 12:35] charith-elastic commented on #2178
Fair enough.

[2019-11-27 12:35] #2178 closed

[2019-11-27 12:40] barkbay commented on #2026
Finalizers are used for 2 main purposes in ECK:

1. To remove some watches or stop the observation of a cluster
2. To delete the `Secrets` used by the APM Server or Kibana to setup users in Elasticsearch.

This last case is a little bit tricky to manage because the Secret is created in the Elasticsearch namespace and thus is owned by Elasticsearch, not by the APM Server or Kibana. The reason of th

[2019-11-27 13:06] sebgl commented on #2026
Could we garbage collect those Secrets as part of the "normal" reconciliation done by the association controllers?

The Kibana-ES association controller responsible for creating the secret is triggered automatically on any change in Kibana/ES, and also when the operator (re)starts. As such, it could inspect and garbage collect any useless association secret without requiring a separate concurrent

[2019-11-27 13:57] pebrc commented on #2026
I agree with @barkbay's comments. We have enough  metadata on the user secret created by the association controllers to do a fairly generic 'garbage collection' in the association controller itself

* Fetching all user secrets that have been created by the association controller
* Check if the Kibana/APM server referenced still exists
* If not, delete the user secret

[2019-11-27 14:48] charith-elastic commented on #357
As this is not a typical load testing use case, I was not aware of any pre-existing tools and techniques to test a Kubernetes operator. I had to do some experiments to understand the nature of the problem and associated issues.

Unsurprisingly, Kubernetes itself is the main factor in any attempt to understand the behaviour of the operator under load. As the operator delegates most of its work to b

[2019-11-27 14:57] sanderma opened #2179 "init containers should have request and limit set."
## Proposal

Set reasonable limits on the default init containers. It should be easy to guess what is needed.

If you run a cluster with pod security policies that enforce this behaviour, the pod isn't scheduled.
As it is hard to change the config of the init containers ([see issue 1617](https://github.com/elastic/cloud-on-k8s/issues/1617)) this is hard to accomplish.

**Environment**

* ECK versi

[2019-11-27 15:06] barkbay commented on #2154
I just did a few tests with the terraform manifests. I have opened [https://github.com/elastic/eck-utils/issues](some tickets in the dedicated project).

I think that technically it is really good, I have some concerns about the complexity of the tools.

I have tried to summarize my thoughts below:

## Architecture

IIUC we are relying on 3 main dependencies to setup a cluster:

* Terraform
* Helm

[2019-11-27 16:40] charith-elastic commented on #2154
Thanks for the thorough review. First of all, I just want to make it very clear that I did not intend this to be _the_ solution and be adopted by the whole team going forward. This is all throwaway code despite the official sounding repository name. That's the main reason why I did not solicit opinions from the rest of the team about technology choices because my main goal was to understand the pr

[2019-11-27 16:41] #2177 closed

[2019-11-27 20:28] pebrc commented on #2146
Don't think this is the case, degradation seems graceful even with ML jobs running.

[2019-11-27 20:57] #2049 closed

[2019-11-28 08:08] barkbay commented on #2026
Just to illustrate a case where the association controller will not delete a remaining secret:

1. Inital state:
  * Elasticsearch in namespace `default`
  * Kibana in namespace `ns1`
  * Operator is stopped

2. User deletes Kibana:
  * All the resources in namespace `ns1` are removed by the K8S api/controller
  * `secret/ns1-kb-sample-kibana-user` remains in the Elasticsearch namespace

3. Operat

[2019-11-28 08:28] sebgl commented on #2026
The reconciliation is currently triggered on a Kibana NamespacedName: what would it be in this situation? I guess we'd need to trigger a different reconciliation with no particular NamespacedName that would go through all secrets.

If we consider we cannot miss a deletion event, maybe we could do the following:

1. when the association controller starts, garbage collect all association secrets
2.

[2019-11-28 08:30] pebrc commented on #2026
I don’t think the first one (watching all es resources ) works. Because the association controller watches Kibanas. So you would have to write what amounts to a new controller (GC controller if you will) that watches Elasticsearch and checks for orphaned secrets, which is basically what I suggested the only difference being that the watch on secrets is probably less efficient than the watch on Ela

[2019-11-28 08:47] pebrc commented on #2026
That sounds a bit hacky to me. Could we not implement a separate controller/routine that just does just GC and is keyed on the type we are interested in?

Or we could consider doing it in the elasticsearch_controller? That would be conceptually wrong because we are maintaining some separation of concerns here, but on the other hand we could implement a use secret GC that handles all present and fu

[2019-11-28 08:54] sebgl commented on #2026
Agreed, that's why I proposed something different with a simple GC function when the controller starts (and then, gc as part of regular reconciliations):
- on startup: list all secrets (using a non-cached k8s client?), and garbage collect useless ones
- on normal reconciliations: if the Kibana resource does not exist (deletion event), garbage collect useless secrets

 I think we achieve the same w

[2019-11-28 09:02] pebrc commented on #2026
Yes, agreed, I am not even sure if it's possible to do with the k8s client in the way I had in mind. 👍 on doing it the way you suggested. My only worry would be that we are slowing down the startup of the controller, but I guess we could use a label selector to reduce the number of secrets we actually have to list. Also I assume when you wrote 'all secrets' you meant all secrets created by the ass

[2019-11-28 09:19] sebgl commented on #2026
Yes. I guess we could run it in a separate short-lived goroutine (and still move on with the normal startup process)? It may conflict with gc done by the regular reconciliation but that would just be a "normal" conflict.

We currently set these labels:
[code]
I was hoping we would have a more "generic" one, because the list requires label key + value I think. We know the key we're looking for here

[2019-11-28 09:28] barkbay commented on #2026
I think we may have a race condition here:

1. associated resource has been deleted while ECK was stopped
2. ECK is restarted, orphaned secret is detected
3. user recreate the associated resource
4. the "no more orphaned" secret is deleted

[2019-11-28 09:37] sebgl commented on #2026
Yes, but it will be fixed at next reconciliation, right? Eventual consistency to the rescue!
Anyway, I think we don't have to solve slow startup issues we don't have. And may never have unless we manage 5k Kibanas, at which point we may also have other issues. I think that's fine doing things sequentially for now.

[2019-11-28 11:05] barkbay commented on #2026
I don't think we have any guarantee about that because we only watch secrets controlled by the association controller:

https://github.com/elastic/cloud-on-k8s/blob/master/pkg/controller/kibanaassociation/watch.go#L35-L41

We also need to improve the watches if we want to do that.

[2019-11-28 15:05] sebgl opened #2185 "Internal Service DNS does not resolve when using some vendor LoadBalancer services"
We got 2 different issues where the "internal" Elasticsearch HTTP service cannot be reached anymore once the user specifies `type: LoadBalancer`:

- [using DigitalOcean LoadBalancer](https://discuss.elastic.co/t/kibana-no-longer-working/208399/7)
- [using Openstack Internal LoadBalancer](https://discuss.elastic.co/t/kibana-cant-connect-to-es-having-openstack-loadbalancer-setting/206691)

When that

[2019-11-28 16:13] thbkrkr commented on #2133
I went through to the last 12 builds. 2 of them were succesful! So it's not completely broken :)

Here is a summary of "interesting" failures:
- 3x Cluster_UUID_should_have_been_preserved (#1927)
- 2x the init fs container took a lot of time to wait the certificates.
- 1x pulling Elasticsearch image took a lot of time
- 1x LOCAL_SSD_TOTAL_GB quota reached
- 1x ? TestDeleteServices/ES_services_shou

[2019-11-28 17:02] thbkrkr commented on #2134
I went through the last 14 builds. 10 failed because we broke the job config so nothing to see there :(.

Summary of "interesting" failures:
- 3x `TestMutationHTTPToHTTPS/All_expected_Pods_should_eventually_be_ready` probably because the fs init container waited for the certs too long (~2min)
- 1x `TestUpdateESSecureSettings/Elasticsearch_secure_settings_should_eventually_be_set_in_all_nodes_keyst

[2019-11-29 08:30] charith-elastic opened #2189 "Phantom reconciliations"
Even after all the associated objects have been deleted and more than a few minutes have elapsed since the deletion, the operator logs still show the deleted resource as being reconciled.

[code]

These logs were observed more than 10 minutes after the resource was deleted. None of the Kubernetes objects associated with the resource seem to exist in the cluster and the operator caches should have

[2019-11-29 09:03] #1003 closed

[2019-11-29 09:34] pebrc commented on #2146
After discussing the suggested timeout with @sebgl and @thbkrkr we realised that this feature is not necessary and just complicates the implementation unnecessarily:

For license replacement (i.e. user received a new license) we can just install the new license secret next to the existing license secret, just use a different name. ECK will pick the right one. Once the new license secret is created

[2019-11-29 09:49] pebrc commented on #684
Elasticsearch client timeouts (should be per cluster configurable)

https://github.com/elastic/cloud-on-k8s/blob/efb91c88d1bdf1647130a60e52749e9d1c62f536/pkg/controller/elasticsearch/client/client.go#L24-L26

Observer timeouts (probably also per cluster)
https://github.com/elastic/cloud-on-k8s/blob/e888a3798b1e858f0130e3e4af21b5b525808257/pkg/controller/elasticsearch/observer/observer.go#L20-L23

[2019-11-29 10:28] sebgl opened #2190 "Automatically upgrade all v1beta1 resources to v1"
## Problem

Once we install the upgraded ECK version along with `v1` CRDs, `v1` becomes the new storage version of resources, but existing resources are still stored with version `v1beta1`.
Any write operation (create or update) will use the stored version: `v1`.

If later on we want to remove support for the `v1beta1` version, existing `v1beta1` resources will prevent the CRD deletion to happen.

[2019-11-29 11:28] sebgl opened #2191 "Existing v1beta1 owner references prevent upgrades to v1"
Forked from https://github.com/elastic/cloud-on-k8s/pull/2184#issuecomment-559540614.

We use controller-runtime's `setControllerReference()` for several resources. The underlying comparison mechanism does not support updating resources from an `apiVersion=v1beta1` to `apiVersion=v1`. `setControllerReference` detects a mismatch and returns an error.

I created an issue in controller-runtime with m

[2019-11-29 11:35] pebrc commented on #2191
Like un-setting before re-setting?  Or simply constructing the owner reference ourselves without relying on controller-runtime?

[2019-11-29 11:37] sebgl commented on #2191
I did some experiments with patching the existing ownerRef with the newer `apiVersion` when the above error is returned:

[code]

However for the actual resource to then be updated we need to make sure our reconciler comparison method for updates does account for owner ref comparisons.

[2019-11-29 11:39] sebgl commented on #2191
Another way of doing it, instead of replacing the existing ownerRef with the updated one, could be to just "ignore" the error if an ownerRef exists for eg. `v1beta1` while we're dealing with `v1` resources.

I'm not sure what's the impact of ownerReferences around pointing to old versions of the CRDs we don't use anymore (and maybe don't include at all in the CRD spec).

[2019-11-29 11:45] sebgl opened #2192 "StatefulSet's VolumeClaimTemplates ownerReference cannot be patched from apiVersion v1beta1 to v1"
There's a problem with StatefulSets updates when upgrading from ECK using crd v1beta1 to ECK using crd v1 and existing clusters.

To reproduce:
* use the Elasticsearch CRD v1beta1 (only)
* deploy an Elasticsearch cluster
* update to use CRD v1 by applying the new operator manifests
* the reconciliation attempts to update the existing StatefulSets because their VolumeClaimTemplates ownerReference h

[2019-11-29 11:57] sebgl commented on #2191
Created an issue in kube-storage-version-migrator https://github.com/kubernetes-sigs/kube-storage-version-migrator/issues/49 (not sure that's the best place for it, but it seems to somehow be in the scope of that project?).

[2019-11-29 12:03] sebgl commented on #2192
Some ideas to move forward:

1. Reconsider how we implemented automatic PVC deletion in https://github.com/elastic/cloud-on-k8s/pull/1736 to not use ownerReferences.
2. Keep using `v1beta1` in the ownerReferences forever. Relates https://github.com/elastic/cloud-on-k8s/issues/2191#issuecomment-559762939.
3. Delete then recreate the StatefulSet while trying to preserve running Pods.

I don't really

[2019-11-29 12:12] pebrc commented on #2192
If I remember correctly we only introduced this as an optimisation or convenience for users because we did run into issues with re-use of PVCs when recreating clusters with the same name, which is probably mostly a dev issue to begin with. So that sound like a good option to consider?

I am not sure what the implications are here. Does the GC still work if the owner reference is pointing to a vers

[2019-11-29 15:07] thbkrkr opened #2194 "[e2e] TestEnterpriseTrialLicense is failing"
Trial is not started for the ES cluster:

[code]

The operator can not find the `trial-status` secret to get the public key to check the license validity:
[code]

The `trial-status` secret is created in the managed namespace instead of the namespace of the global operator.

[2019-11-29 15:41] charith-elastic commented on #357
Kubernetes version: `1.15.4-gke.18`
ECK commit: `b559ec387bc30c1be3011b00722ef98cc5a683b7`

As to be expected, the operator is bound mainly by external factors such as resource limits, provider quotas and limitations of Kubernetes itself. I managed to spawn 218 Elasticsearch clusters (1 master + 5 data nodes) and 218 Kibana instances before the time to attach persistent volumes became a bottleneck

[2019-11-29 16:25] sebgl commented on #2190
IIUC correctly the way CRDs are validated, it seems impossible to update a CRD in order to remove an old version.

When a CRD is updated:
- the list of expected storedVersions is built from status.StoredVersions in the previous CRD + newer storedVersions in the new CRD ([source](https://github.com/kubernetes/kubernetes/blob/cf16e4988f58a5b816385898271e70c3346b9651/staging/src/k8s.io/apiextensions-

[2019-11-29 16:36] sebgl opened #2196 "Cannot remove v1alpha1 from CRD storedVersions with kubectl"
Applying the current manifests with v1beta1 only (and potentially an additional v1 version):
- works fine if there was no CRD installed
- does not work it's updating a CRD that listed the v1alpha1 version as storedVersion in the status

[code]

We should probably reconsider [the removal of v1alpha1](https://github.com/elastic/cloud-on-k8s/pull/2119). We could instead set it as `served: false` so i

[2019-11-29 16:57] sebgl commented on #2191
FWIW it seems possible to set the `apiVersion` of an ownerReference to anything. I just updated a secret's ownerReference with `apiVersion: elasticsearch.k8s.elastic.co/v1beta1` to  `apiVersion: elasticsearch.k8s.elastic.co/v180`.
The automated deletion of that secret upon owner deletion still worked as expected. I guess the actual version in there may never be used, it could just be an artifact o

[2019-12-01 17:14] pebrc commented on #2194
@thbkrkr are you sure about this? https://devops-ci.elastic.co/job/cloud-on-k8s-e2e-tests/571/testReport/github/com_elastic_cloud-on-k8s_test_e2e_es/TestEnterpriseTrialLicense/ looks ok to me.

Also note I have made some changes in #2188 that also affect the trial mechanism

[2019-12-01 17:24] pebrc opened #2197 "7.6 support"
Test and support Elasticsearch version 7.6. I did a first test with a recent snapshot build and
#2177 came out of that. But there are other changes we know of already that we have to support:
- [x] https://github.com/elastic/elasticsearch/pull/49223 support enterprise license type. This will make it necessary in our license selection logic to prefer stack level enterprise licenses over platinum li

[2019-12-02 08:47] sebgl commented on #2196
IIUC correctly the way CRDs are validated, it seems impossible to update a CRD in order to remove an old version.

When a CRD is updated:
- the list of expected storedVersions is built from status.StoredVersions in the previous CRD + newer storedVersions in the new CRD ([source](https://github.com/kubernetes/kubernetes/blob/cf16e4988f58a5b816385898271e70c3346b9651/staging/src/k8s.io/apiextensions-

[2019-12-02 09:14] sebgl commented on #2192
To me the volume auto-removal is a real important feature not only for developers. Happy to re-discuss the need for having it if we think it's necessary (I'm strongly in favor of having it and making it the default). Using `ownerReferences` was an easy way to solve part of the problem but we can consider other ways of doing it.

[Yes](https://github.com/elastic/cloud-on-k8s/issues/2191#issuecommen

[2019-12-02 09:32] thbkrkr commented on #2194
I created this issue after that `cloud-on-k8s-stack/107/` and `cloud-on-k8s-versions-gke/141/` failed:

https://devops-ci.elastic.co/view/cloud-on-k8s/job/cloud-on-k8s-stack/107/

Run tests for different ELK stack versions in GKE / 7.1.1 / github.com/elastic/cloud-on-k8s/test/e2e/es.TestEnterpriseTrialLicense/Elasticsearch_license_should_be_[trial]
Run tests for different ELK stack versions in GKE

[2019-12-02 09:32] #2194 closed

[2019-12-02 09:35] #2174 closed

[2019-12-02 09:48] sebgl commented on #2196
Programatically updating the CRD status sub-resource works fine:

[code]

[2019-12-02 10:29] sebgl commented on #2196
It's totally an option for us to keep the `v1alpha1` version in the CRD. If specified with `served: false`, any get/create/update operation on a `v1alpha1` resource is prevented. Almost as if it didn't exist.
In terms of implementation we can either:
* restore the `v1alpha1` codebase and auto-generate the v1alpha1 CRD
* remove the `v1alpha1` codebase and patch the CRD to add it to the list of exis